[2019-04-09 09:04] gyliu513 opened #1 "Build error for ibmcloud provider"
[code]

[2019-04-09 09:05] gyliu513 commented on #1
@morvencao Can you help check? I think this is a bug in the document of https://kubernetes-sigs.github.io/cluster-api/ , we can fix here first and post PR in cluster api document.

[2019-04-11 07:59] morvencao commented on #1
@gyliu513 Sorry for the late repose.

We need to run
[code]

before `make`

[2019-04-11 08:07] gyliu513 commented on #1
@morvencao it works for me, can you create a PR? Thanks.

[2019-04-11 08:37] morvencao opened #3 "kustomize failed to build the manifest"
After I fix the depend inssue: https://github.com/gyliu513/cluster-api-provider-ibmcloud/issues/1 with patch: https://github.com/gyliu513/cluster-api-provider-ibmcloud/pull/2, I found another issue about the `kustomize build`:

[code]

/cc @gyliu513

[2019-04-11 10:47] gyliu513 commented on #3
@xunpan is it caused by kustomize version?

[2019-04-11 10:48] #1 closed

[2019-04-11 15:00] xunpan commented on #3
Yes. It is kustomize version case. I remember there is a bug in cluster api to compatible with new kustomize.

My old test environment use 1.0.11. It should work.
@morvencao  you can have a try

[2019-04-11 15:05] morvencao commented on #3
@xunpan Thanks, let me give it a try.

[2019-04-11 15:11] gyliu513 opened #5 "Enable POWER and s390x for IBM Cloud Provider"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
Some customer want to run cluster-api on IBM POWER or s390x, it is better to enable IBM Cloud cluster-api can run on those architecture platforms as well.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2019-04-12 01:06] jichenjc commented on #3
@morvencao FYI
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/301

[2019-04-12 01:08] jichenjc commented on #5
does IBM cloud current provide power arch vm? I know seems z is not in the list

but yes, future switch to genisis might be another story

[2019-04-12 02:39] morvencao commented on #3
Confirmed this is `kustomize` version issue.

Downgrading the `kustomize` version from `2.0.3` to `1.0.11` fixed this issue.

[2019-04-12 02:39] #3 closed

[2019-04-12 03:10] gyliu513 commented on #5
@jichenjc  Yes, IBM Cloud do support POWER, but not sure if it support Z or not, will check ;-)

[2019-04-13 02:45] gyliu513 opened #8 "`go vet` failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

Related to https://github.com/gyliu513/cluster-api-provider-ibmcloud/pull/7#issuecomment-482605729

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api ve

[2019-04-13 02:55] jichenjc commented on #8
https://github.com/gyliu513/cluster-api-provider-ibmcloud/pull/9

[2019-04-13 02:55] jichenjc commented on #8
/assign

[2019-04-15 05:36] jichenjc commented on #8
should close this one due to #9

[2019-04-15 05:36] #8 closed

[2019-04-15 05:56] jichenjc opened #11 "Enhance IBMCloudClusterProviderStatus"
/kind feature

we need create (enhance) the status struct that has the status of the cluster, something like OpenstackClusterProviderStatus can be referred, also, a set of routines to make the status up to date to the current status of the cluster is needed

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:07] jichenjc opened #12 "Network enhancement of created Guest"
/kind feature

we need provide info about how the network can be configured through yaml file against the created Guest, e.g security group/public ip/other info

this should includes at least
1) update of the spec of machine in provider
2) update how the network info can be passed into create guest
3) validation

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2019-04-15 06:08] jichenjc opened #13 "Storage enhancement of create a Guest"
/kind feature

we need provide info about how the storage can be configured through yaml file against the created Guest, e.g security additional disk/disk type info

this should includes at least

1)    update of the spec of machine in provider
 2)  update how the storage info can be passed into create guest
3)   validation

**Anything else you would like to add:**
[Miscellaneous information that

[2019-04-15 06:10] jichenjc opened #14 "Create function to convert spec/status from cluster-api"
/kind feature

refer to openstack provider pkg/apis/openstackproviderconfig/v1alpha1/register.go
we need a set of functions to convert something like runtime.RawExtension stored in cluster-api spec (raw format) into the format that ibm cloud is able to recognize

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:23] jichenjc opened #15 "cluster actuator implementation"
/kind feature
we should Add a cluster actuator (including its registerion process) and delete function to make sure the cluster status up to date and we can delete the cluster by given command

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:30] jichenjc opened #16 "machine actuator implementation"
/kind feature
we need add Create/Update/Delete/Exists functions to machine so that we can make it able to be consumed by cluster-api Reconcile function

we can create several patches to add those functions

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:34] jichenjc opened #17 "add clusterdeployer function"
/kind feature

we need create a cluster deployer function (per cluster-api) requested

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:51] jichenjc opened #18 "Define a clouds.yaml for password/username/url etc"
/kind feature

define a clouds.yaml for access to the ibm cloud, e.g cloud location, region, password, username etc

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:52] jichenjc opened #19 "userdata creation (for k8s cluster startup)"
/kind feature
need provide a set of configuration scripts for the new deployed guest to run this
in order to boot cluster and join cluster for master/node

cloud-init will be primary focus for this PR

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:53] jichenjc opened #20 "coreos ignition creation"
/kind feature
need provide a set of configuration scripts for the new deployed guest to run this
in order to boot cluster and join cluster for master/node

coreos ignition will be primary focus for this PR

this might be long term option and need check ibm cloud support coreos or not

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 06:54] jichenjc opened #21 "kustomize generation for yamls"
/kind feature

need provide kustomize for create something like cluster-api image defintion, cloud secrets, include from cluster-api definition etc

go to cluster-api-provider-openstack/cmd/clusterctl/examples/openstack for further info

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-15 07:41] jichenjc commented on #17
/assign

[2019-04-15 08:18] #17 closed

[2019-04-15 08:35] gyliu513 commented on #21
I'd like the sub-task as follows:

- [ ] Create hard-code `cluster.yaml`, `machines.yaml` and `provider-components.yaml` to make sure the whole process works
- [ ] Create kind of `generate_yaml.sh` to leverage `kustomize` to generate the above three files.

[2019-04-15 08:42] gyliu513 commented on #19
Sub tasks:
- [ ] Investigate how user-data works in SL
- [ ] Hard-code user-date for master and work
- [ ] Update user-data to be more generic

[2019-04-16 04:25] jichenjc commented on #21
yes, it can be divided into 2 parts (or even more), thanks for the comments

[2019-04-16 04:25] jichenjc commented on #19
The user-data actually need to be delivered into at least ubuntu and rhel based ...

[2019-04-16 04:26] jichenjc commented on #19
@xunpan do you want to take this one? this might take some time ... or you may select your prefer by assign your self to other issues...

[2019-04-16 07:11] xunpan commented on #19
I will start from Ubuntu with a Kubernetes deployment scripts

[2019-04-16 07:20] jichenjc commented on #21
/assign

[2019-04-16 07:44] gyliu513 opened #23 "Enable travis for cluster API"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

We can follow https://github.com/kubernetes-sigs/federation-v2/blob/master/.travis.yml to enable travis for our project.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

-

[2019-04-17 02:17] jichenjc opened #26 "update IbmcloudClusterProviderSpecStatus and IbmcloudClusterProviderSpecSpec"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
something like following
IbmcloudClusterProviderSpecSpec
IbmcloudClusterProviderSpecStatus

existing now, need adjust them

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

-

[2019-04-18 03:30] xunpan commented on #19
Finished scripts.
I will try to understand IBM Cloud bootstrap script execution and try to `Create` machine from code.

[2019-04-18 08:04] jichenjc commented on #16
This can be enhanced to be
Create
Delete
Update
Exists
GetIP
GetKubeConfig

let's add one by one

[2019-04-18 09:34] jichenjc commented on #16
before that, we need something like
ClusterStatusFromProviderStatus
ClusterSpecFromProviderSpec

so we can consume the status and spec from cluster-api.....

[2019-04-18 14:29] gyliu513 commented on #23
I will check how to turn on travis for this repo at https://travis-ci.com/account/repositories

FYI @jichenjc @morvencao

[2019-04-18 14:54] gyliu513 commented on #23
@morvencao CI failed, please help check https://github.com/multicloudlab/cluster-api-provider-ibmcloud/pull/30

[2019-04-19 00:17] jichenjc commented on #26
code merged

[2019-04-19 00:17] #26 closed

[2019-04-19 00:18] jichenjc commented on #14
/assign

[2019-04-19 03:29] morvencao commented on #23
Fixed in https://github.com/multicloudlab/cluster-api-provider-ibmcloud/pull/32, let's close this.

[2019-04-19 03:29] #23 closed

[2019-04-19 09:29] #14 closed

[2019-04-23 00:22] xunpan opened #43 "clusterctl"
/kind feature

**Describe the solution you'd like**
`clusterctl` does not work. This is logged to trace issues for `clusterctl`

[2019-04-23 00:24] xunpan commented on #19
update script based on runtime information
https://github.com/multicloudlab/cluster-api-provider-ibmcloud/pull/39

To make script run in softlay, we need a script file hosting place. Currently, I'd like to implement a github one.

[2019-04-23 00:58] gyliu513 opened #44 "Enable clusterctl can run in container"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Please refer to https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/305 for how to do this.

[2019-04-23 02:25] xunpan commented on #19
Try to understand how to use `userData` to execute a script in softlayer.
A ticket is logged to trace the related information. https://github.com/softlayer/softlayer-go/issues/133

[2019-04-24 02:51] jichenjc opened #50 "token generation for bootstrap"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
we need create bootstrap token for used when kubeadm start

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-24 05:14] #50 closed

[2019-04-25 00:47] xunpan commented on #19
The related part should be done.
After we have related yaml files generated, we can test it. Just close it.

[2019-04-25 00:47] #19 closed

[2019-04-25 02:08] xunpan opened #57 "use cloud configuration to operate on IBM cloud"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Cloud operations, e.g. create a VM instances, need authentication of a user account.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-25 02:09] xunpan commented on #15
This is not necessary to create a kubernetes cluster based on current understaning of related logic.  So, make it lower priority in my candidate task list.

I will work on it if it block basic kubernetes deployment case.

[2019-04-25 02:29] jichenjc commented on #15
yes, for PoC and current priority point of view, I think it's reason to hold this for a while

[2019-04-26 07:40] gyliu513 opened #62 "Update format of clouds.yaml"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
This is a follow up action for review comments at https://github.com/multicloudlab/cluster-api-provider-ibmcloud/pull/60#discussion_r278823656

We  should keep the format as follows to enable future extension.
[code]

FYI @xunpan

[2019-04-26 11:40] xunpan opened #64 "use klog instead of log"
/kind feature

**Describe the solution you'd like**
cluster-api uses `klog`. So we should also use it to avoid mixed log functions

[2019-04-26 14:17] xunpan opened #65 "use values in Machine instead of hardcoded VM resource definition"
/kind feature

**Describe the solution you'd like**
[code]

[2019-04-27 10:16] jichenjc commented on #65
@xunpan are you going to work on this? next 2 weeks I will be on biz trip so I guess I will have less effort

[2019-04-28 03:11] #44 closed

[2019-04-29 07:14] xunpan opened #73 "centos support"
/kind feature

**Describe the solution you'd like**
we only support ubuntu machine on IBM cloud now.
It is preferred to support centos too

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-29 08:07] gyliu513 opened #74 "Add document for ibm cloud provider"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-rele

[2019-04-29 08:42] #65 closed

[2019-04-29 15:42] #74 closed

[2019-04-30 00:59] xunpan commented on #43
it works now after #72 merged

[2019-04-30 00:59] #43 closed

[2019-04-30 02:33] #64 closed

[2019-04-30 03:17] xunpan commented on #18
clouds.yaml is created.

Currently, we have `userName` and `apiKey`. It is enough to create VM instances on IBM cloud. For datacenter, it is defined in Machine.

@jichenjc, do you have comments on any other information needed to define in clouds.yaml?

[2019-04-30 03:18] xunpan commented on #62
The format makes sense to me.

[2019-04-30 03:19] xunpan commented on #21
Do you mind to close this ticket if have no other comments.
Current generation script can generate .yaml with kustomize correctly.

[2019-04-30 04:21] #21 closed

[2019-04-30 05:27] xunpan opened #86 "IBM Cloud Kubernetes Service provider support"
/kind feature

**Describe the solution you'd like**
IBM Cloud Kubernetes Service provider support

[2019-04-30 05:28] hchenxa opened #87 "do we have plan to support different k8s vendor"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

do we have plan to support the different k8s vendor like ICP or some others and the user cases was:

1) If I already have a ICP cluster, I want to use cluster api to deploy the ICP and use the MCM to manage the provided ICP cluster.
2) If I already have a ICP cluster, I can use cluste

[2019-04-30 05:33] xunpan commented on #87
This project has no plan for doing this.

It is traced in `cluster-api`  https://github.com/kubernetes-sigs/cluster-api/issues/853

[2019-04-30 05:43] gyliu513 commented on #18
Let's trace this task in https://github.com/multicloudlab/cluster-api-provider-ibmcloud/issues/62

[2019-04-30 05:43] #18 closed

[2019-04-30 05:48] gyliu513 opened #89 "Repo Migration Request"
It is being traced at https://github.com/kubernetes-sigs/cluster-api/issues/921

FYI @jichenjc @xunpan

[2019-04-30 07:10] gyliu513 opened #91 "Failed to create VM with controller"
The controller keeps reporting

[code]

[2019-04-30 07:12] gyliu513 commented on #91
My `machines.yaml`:

[code]

[2019-04-30 08:28] gyliu513 opened #95 "Implement update logic for machine"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-04-30 08:30] gyliu513 commented on #95
Being traced at https://github.com/multicloudlab/cluster-api-provider-ibmcloud/issues/16#issuecomment-484398225

[2019-04-30 08:30] #95 closed

[2019-04-30 08:30] gyliu513 commented on #16
@xunpan will work for `update`.

FYI @jichenjc

[2019-04-30 09:30] #91 closed

[2019-04-30 20:27] jichenjc commented on #89
thank you, looks like we should not ask in cluster-api instead some place else?

[2019-05-01 01:40] gyliu513 commented on #89
no worry, I have talked this in both slack channel and email list, I'm going to do a demo for cluster api in next Wednesday.

[2019-05-01 01:59] jichenjc commented on #89
ok, good to know :)

[2019-05-03 12:57] gyliu513 commented on #89
Migrated to `kubernetes-sigs` now !!

[2019-05-03 12:57] #89 closed

[2019-05-03 13:00] gyliu513 opened #102 "Set up CI for IBM Cloud Provider"
/kind bug

/cc @morvencao

[2019-05-03 13:06] xunpan opened #103 "display correct message for kubectl get machine"
/kind feature

**Describe the solution you'd like**
[code]
Empty display is not good.
we also need `AGE` as cluster

[2019-05-03 13:06] xunpan commented on #103
/assign xunpan

[2019-05-04 01:55] gyliu513 commented on #103
/sig ibmcloud

[2019-05-04 06:45] morvencao commented on #102
Do we need to update travis script or just enable travis in repo settings?

[2019-05-04 14:47] gyliu513 commented on #102
Enable Travis for this repo is enough, just like cluster-api-provider-openstack.

[2019-05-04 22:35] jichenjc commented on #102
I think we already have some test running before we move to this naming space

and I think for the time being we don't want to run some real test on ibm cloud, do we?
openstack doesn't have 'real' CI which really do some cluster provisioning test, do aws or vsphere have ?

[2019-05-04 22:42] jichenjc commented on #103
if I remember correctly, the phase and providerid is optional and should not be displayed by `get machine`  command, it comes from
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machine_types.go#L41

and for providerid , @xunpan you can refer to
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/274/commits

I think `phase` is a little bit

[2019-05-04 22:43] jichenjc commented on #103
@xunpan @gyliu513 do we have a way to identical identify a guest on ibmcloud?
such as we can use openstack:////<uuid> as openstack identifier, what do we want to ibmcloud?

[2019-05-05 00:08] xunpan opened #105 "events for machine"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
When there has issues in VM provision or cluster provision. We'd better send detailed message with events to show what happens.

This is not urgent but need to be considered.

[2019-05-05 02:15] morvencao commented on #102
@jichenjc Yes, we already have test for go linter, build binary & images and unit test before moving here.

For aws and gce provider, they have e2e test script with bazel. We need to replace our travis with bazel.

/Assign @morvencao

[2019-05-05 02:30] jichenjc commented on #102
/assign morvencao

[2019-05-05 02:56] gyliu513 commented on #86
@dcberg

[2019-05-05 03:06] jichenjc commented on #105
/assign

[2019-05-05 05:37] gyliu513 commented on #102
@morvencao please refer to https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/cluster-api-provider-openstack for what OpenStack is doing.

[2019-05-05 05:40] morvencao commented on #102
@gyliu513 thanks, will raise a pr to add ibmcloud provider test jobs here: https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs

[2019-05-05 07:03] gyliu513 commented on #102
/sig ibmcloud

[2019-05-05 12:02] hchenxa opened #112 "no docker images under k8scloudprovider"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Post the same question here, how to push the docker image in k8scloudprovider, currently, we did not have any docker image under k8scloudprovider org.

cc @gyliu513 @xunpan

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous informa

[2019-05-05 12:05] hchenxa opened #113 "use another org for ibmcloud provider docker image"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

from the pic here:
<img width="714" alt="Screen Shot 2019-05-05 at 8 03 27 PM" src="https://user-images.githubusercontent.com/10266685/57193735-2f79a680-6f71-11e9-908e-a476bd1e09f3.png">

the github url was only for openstack cloud provider, so for ibmcloud provider, could

[2019-05-05 12:18] gyliu513 commented on #113
Thanks @hchenxa , let me check how to create an org for ibm cloud provider.

/assign

[2019-05-05 13:18] gyliu513 commented on #112
We will use `quay.io/cluster-api-provider-ibmcloud`.

[code]

[2019-05-05 13:18] #112 closed

[2019-05-05 13:20] gyliu513 opened #115 "Fix image security issues"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

If you go to https://quay.io/repository/cluster-api-provider-ibmcloud/ibmcloud-cluster-api-controller/manifest/sha256:a920d9ccc5ef600a30911073d491cdc8c500ce6c9a24880d3f0c72a0b9e61af1?tab=vulnerabilities , you will see some security holes are listed.

@morvencao

[2019-05-05 13:23] gyliu513 opened #116 "Push latest image to quay.io via CI process"
/kind bug
/sig ibmcloud

We should always push controller and clusterctl to quay.io via CI process.

## Controller
[code]

## Clusterctl
[code]

@morvencao

[2019-05-05 13:26] hchenxa commented on #112
thanks @gyliu513 , may be we also need to update the https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/Makefile#L38 and  https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/config/manager/manager.yaml#L58

[2019-05-05 13:27] xunpan commented on #116
@gyliu513 as we already in account `cluster-api-provider-ibmcloud`, shall we use name `controller` and `clusterctl` for simple. Especially for `clusterctl`, I think it is better descriptive in `docker run quay.io/cluster-api-provider-ibmcloud/clusterctl ...`

[2019-05-05 13:39] #113 closed

[2019-05-05 13:48] gyliu513 commented on #116
@xunpan +1 to use simple name, you can create PR to fix this.

[2019-05-05 13:58] gyliu513 commented on #103
not sure about this, @xunpan , can you help check?

[2019-05-05 14:21] xunpan commented on #103
I'm not sure if this is an convention or not. I'd like to follow the way you mentioned for `openstack`.
 - `aws` provider uses `aws:////instanceid`
 - `azure` provider uses `azure:////VMID`

 For IBM Cloud, I plan to use `ibmcloud:////guestid`

[2019-05-05 20:54] jichenjc commented on #116
+1 to the simple naming given the namespace we added

[2019-05-05 21:11] jichenjc commented on #103
ok, let's use ibmcloud for now, thanks for bring this out

[2019-05-06 00:16] hchenxa commented on #115
may we we can change to use debian:stretch-slim as the base docker image

[2019-05-06 02:16] morvencao commented on #115
Why not use `static` lib when building the go binary and replace the base image with `scratch`, to minimize the image size?

[2019-05-06 02:21] morvencao commented on #115
Just ignore the last comment, we need `ca-certificates` package to generate the cert/key pair.

[2019-05-06 10:50] morvencao commented on #115
Look like simply adding `apt-get update && apt-get upgrade -y` can't upgrade the vulnerable package to fixed version.

Also checked the images of openstack and vsphere, the same security issues exist.

Should we consider change the base image?

@gyliu513 Any comments?

[2019-05-06 11:02] gyliu513 commented on #115
@morvencao Yes, you can fix those issues together for OpenStack, vSphere as well.

[2019-05-06 11:08] gyliu513 commented on #116
@xunpan can you help check how federation v2 push the latest image to `quay.io`? We can follow same way for ibmcloud.

/assign @xunpan

[2019-05-06 13:21] xunpan commented on #116
federation push image to `quay.io` when CI succeed. It pushes images for `kubernetes-multicluster/federation-v2` with `canary`, `latest` and tag version, e.g. `v0.0.9`.

[2019-05-06 13:23] gyliu513 commented on #116
@xunpan Yes, shall we follow same logic for ibmcloud images?

[2019-05-06 13:25] xunpan commented on #116
@gyliu513  I'm trying to understand how to set credential to access `quay.io` in travis. After that, I will fix this issue.

[2019-05-06 13:35] gyliu513 commented on #116
Yes, this is exactly what we should do.

[2019-05-06 13:46] morvencao commented on #116
@xunpan I think we need to put the credential in k8s secret that prow jobs can access.

[2019-05-06 15:22] jichenjc commented on #115
@morvencao do we have best practice ?I think other k8s related project have similar question?
and do aws has this kind of issue? maybe we can refer to their stuffs?

[2019-05-06 15:30] jichenjc commented on #116
only want to make sure my understanding, we will push the image when
CI passed and merged into master or just CI passed and push to registry for test purpose?
both works for me but I want to make sure I understand the correct way, thank you @morvencao @gyliu513 @xunpan

[2019-05-06 15:47] morvencao commented on #115
@jichenjc Usually we fix this kind of security issues by upgrading the packages to the new version, because new versions contain the fix, however, it doesn't work in provider images, also tried to replace base image.

I found that the gcp provider is using the `gcr.io/distroless/static:latest` as base image: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/blob/master/Dockerfile#L20, bu

[2019-05-07 00:02] xunpan commented on #116
The logic is pushing image after CI passed for `canary` image. The code at the moment is not merged yet. CI is prerequisite for merge but not do code merge automatically.

For release versioned and latest (latest release one), they are only push by a tag (for release).

[2019-05-07 00:03] xunpan commented on #116
@morvencao I guess it is not for this case to pass credential manually by k8s secret. It is better to set it in security place and follow up existing practise.

[2019-05-07 01:50] gyliu513 commented on #86
We probably need to integrate with IKS like what openstack is doing now as configured at https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/cmd/clusterctl/examples/openstack/provider-component/user-data/ubuntu/templates/master-user-data.sh#L139-L141

[code]

@jichenjc can you help do some investigate for this, since you also worked for https://github.com/kubernetes/kuber

[2019-05-07 01:58] jichenjc commented on #86
ok, I will dig this and see what I can do and may consult with cloud provider openstack a little bit
( the progress will be a little bit slow this week due to external conference in US)

[2019-05-07 02:35] gyliu513 commented on #86
@rtheis is the owner for IBM Cloud Provider at https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider , we can get some comments from him as well.

FYI @mdelder @spzala

[2019-05-07 02:55] gyliu513 opened #123 "Release v0.0.1"
Will cut branch for v0.0.1 release.

/assign

FYI @xunpan @jichenjc

[2019-05-07 03:09] jichenjc commented on #123
do we have a set of fixes to be included in order to release 0.1?
I thought cluster-api 0.1 has a lot of features, maybe we want to do 0.0.1 instead?

[2019-05-07 03:16] gyliu513 commented on #123
@jichenjc Yes, I mean v0.0.1, sorry for the typo ;-) Just want to have a basic release to enable end user can play with it.

[2019-05-07 09:12] gyliu513 opened #125 "There is no log from controller with v0.0.1"
/kind bug
/sig ibmcloud
[code]

I was using controller as `quay.io/cluster-api-provider-ibmcloud/controller:v0.0.1` which is build from https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/tree/v0.0.1.

/assign @xunpan

I think the master branch should have same issue.

[2019-05-07 09:14] gyliu513 commented on #123
It was released at https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/releases/tag/v0.0.1

[2019-05-07 09:14] #123 closed

[2019-05-07 09:19] gyliu513 opened #126 "worker node was not created with v0.0.1"
/kind bug
/sig ibmcloud

I was using controller image of `quay.io/cluster-api-provider-ibmcloud/controller:v0.0.1` which is build from https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/tree/v0.0.1.

After the master node was provisioned, the namespaces on master node was not created and the related controllers was also not created on master node, so the master will not able to provi

[2019-05-07 12:51] xunpan commented on #126
I used v0.0.1 to build `controller` and `clusterctl`. Both works:
[code]

What is your `machine.yaml` and `provider-components.yaml`? What about `cloud-init-output.log` on both host?

[2019-05-07 13:24] xunpan commented on #126
I use the `quay.io` imange. It also works.
[code]

Based on slack discussion, please try to use at least 2 cpus for your slave node to have a try.

[2019-05-07 14:44] gyliu513 commented on #126
Thanks @xunpan , it works in my cluster now with same configuration files, let me check more for this.

[2019-05-07 14:45] #125 closed

[2019-05-08 00:19] #102 closed

[2019-05-08 00:46] xunpan commented on #116
`federation v2` uses travis ci but ibmcloud cluster api uses `test-infra`.

[2019-05-08 02:23] gyliu513 commented on #73
@hemanthavs

[2019-05-08 02:56] #103 closed

[2019-05-08 03:24] gyliu513 opened #131 "Update README to highlight KIND is the recommended for bootstrap cluster"
/kind bug
/sig ibmcloud

We need to update README at https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud#prerequisites to clarify `KIND` is preferred for bootstrap cluster as claimed at https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/README.md#prerequisites

@hemanthavs

[2019-05-08 05:39] gyliu513 opened #132 "Update CONTRIBUTING for ibmcloud"
/kind bug
/sig ibmcloud

The https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/CONTRIBUTING.md is out of date, we need to update it.

/cc @morvencao

[2019-05-08 08:42] #132 closed

[2019-05-09 00:16] xunpan commented on #16
Discussion about @jichenjc 's comments
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/128/files/8d9a595c053465a9bb00cffbfbd47c6dc5edf32d#r282150120

### Common Case
Currently, the behavior is:
If a new machine is created, there should not be a VM instance already. So that API can create a new VM instance with bootstrap configuration.

### Existing Case
I guess there has logi

[2019-05-09 02:33] jichenjc commented on #16
I agree with the approach on the update flow (delete and recreate) ,I think we can make it as it is now, but we'd better leave this open to track the TODO items to verify and agree on the behavior

for this:
Pending in status is needed. It tells the Machine is just created. We can use update operation to delete existing VM instance (better to check if it meets our spec before deletion) and create

[2019-05-10 08:52] gyliu513 commented on #126
Cannot reproduce this issue now, so close it.

[2019-05-10 08:52] #126 closed

[2019-05-12 00:19] mattlmattlmattl commented on #131
I am attempting to do my first issue.  I have signed the CLA, forked and cloned the github k8s repository etc. but can not see where I would pull this README from.  Do I need to also fork/clone github.com/kubernetes-sigs to then pull from there?

I would be happy to address this if I could figure out where to get the file.
Thanks!

[2019-05-12 09:02] gyliu513 commented on #131
@mattlmattlmattl Yes, you also need to fork https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud and create PR, please refer to https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/CONTRIBUTING.md for how to contribute!

[2019-05-12 23:00] mattlmattlmattl commented on #131
OK, updated the file and created a PR - thanks for your help!

Please let me know if I made any errors/did anything wrong and I will attempt to fix.
Thanks!

[2019-05-13 03:02] jichenjc commented on #131
I think we can close this now..

[2019-05-13 03:02] #131 closed

[2019-05-13 03:45] jichenjc opened #139 "adjust log level (logs from softlayer)"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
have following logs which will be overwhelming to admin, need doc a way to adjust the log level
[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluste

[2019-05-13 04:04] jichenjc opened #140 "controller-manager-0 as pod name"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

we are using stateful sets, so the name is generated by template
to avoid too much confusion , let's rename it from controller-manager-0 to
 ibmcloud-machine-controller-0  (refer to openstack's openstack-machine-controller)
[code]
[code]

**What did you expect to happen:**

[2019-05-13 04:04] jichenjc commented on #140
/assign

[2019-05-13 07:54] jichenjc opened #143 "Doc on admin.conf get"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

we have following in readme:

Special notes on ssh keys and fetching admin.conf

In order to allow clusterctl to fetch Kubernetes' admin.conf from the master node, you must manually create the key pair in IBM Cloud. By default the generated machine.yaml uses cluster-api-pr

[2019-05-13 09:50] gyliu513 commented on #143
@jichenjc Yes, end user can use `id_ibmcloud` to create the key.

[2019-05-13 10:08] jichenjc commented on #143
@gyliu513 the doc said it has to use following:
`you must manually create the key pair in IBM Cloud. By default the generated machine.yaml uses cluster-api-provider-ibmcloud to be the sshKeyName`

this is different to what I remember and read from code.. that's the question

[2019-05-13 10:31] gyliu513 commented on #143
@jichenjc Yes, you can create a PR to update ;-)

[2019-05-14 02:56] jichenjc commented on #143
@gyliu513 @xunpan I want to make sure I understand the code logic before change the doc ...

If I use defined ssh key (ibmc is the private key) then I can log on

root@jichen1:~# ssh -i /home/cloudusr/ibmc root@108.168.190.92
Welcome to Ubuntu 18.04.1 LTS (GNU/Linux 4.15.0-43-generic x86_64)

but with
root@jichen1:~# ssh -i /root/.ssh/id_ibmcloud root@108.168.190.92
root@108.168.190.92's password:

[2019-05-14 02:57] jichenjc commented on #143
so I will make the code change first...

[2019-05-14 03:11] gyliu513 commented on #143
Because we are hard-coding the `id_ibmcloud` here https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/pkg/cloud/ibmcloud/deployer.go#L78 , this may also need some enhancement to enable end user can set up customized key name.

[2019-05-14 03:12] gyliu513 opened #144 "Enable customized ssh key for ibmcloud"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

This is a follow up task for https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/143#issuecomment-492062183 .

Because we are hard-coding the `id_ibmcloud` https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/pkg/cloud/ibmcloud/d

[2019-05-14 03:33] jichenjc commented on #143
ok, now I got it , will see anything I can do to the doc ..

[2019-05-14 06:14] gyliu513 commented on #144
@hemanthavs

[2019-05-14 06:17] #140 closed

[2019-05-15 05:15] gyliu513 opened #146 "Enable FOSSA license scanning and vulnerability management for the repo"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Ref: kubernetes/org#164

@hemanthavs

[2019-05-16 01:47] #143 closed

[2019-05-16 17:39] hemanthavs opened #148 "Cluster Creartion Failed"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
clusterctl create cluster ...

**What did you expect to happen:**
Successful Creation of Cluster

**Logs from controller-manager**
[controller-manager.log](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/files/3188307/controller-manager.log)

**Environment:**

- Cluster-api version:
- KIND version: 0.2.1
- Kub

[2019-05-17 01:18] jichenjc commented on #148
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
        panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x10d6b62]

indicated some nil pointer access, do you have the yaml files under examples/out can be shared? I guess some edge case triggered by your yaml file.. @hemanthavs

[2019-05-17 01:26] jichenjc commented on #86
@xunpan @gyliu513 @spzala  I did some analaysis here, I worked on https://github.com/kubernetes/cloud-provider-openstack a little bit before and know basic parts there, but I don't fully sure the connections and usage between cloud provider and cluster-api ,at least seems cluster-api-provider-openstack doesn't use cloud provider for now...

so what should we do ? maybe just follow the openstack to

[2019-05-17 01:30] hemanthavs commented on #148
Sure @jichenjc

[cluster copy yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/files/3189548/cluster.copy.yaml.txt)
[machines copy yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/files/3189549/machines.copy.yaml.txt)

Let me know if you need any more info

[2019-05-17 02:24] jichenjc commented on #148
I compared this without the yaml file I used and it's similar, so I think yaml files are fine
then because I am able to create with my yaml file, can you confirm the image you used is up to date?

[2019-05-17 02:35] xunpan commented on #148
There has code error for related case, I will fix it and then you can have a try. @hemanthavs

[2019-05-17 02:35] gyliu513 commented on #86
@jichenjc not sure if we can leverage IKS to provision VMs with k8s installed when using Cluster API?

@hchenxa comments for this?

[2019-05-17 02:45] xunpan commented on #148
@hemanthavs

After code merged, you can have a try. And just want to confirm: `cluster-api-provider-ibmcloud` is created in IBM cloud as ssh key name.

[2019-05-17 02:49] jichenjc commented on #148
@xunpan just to confirm, this is timing issue ? the getIP called before guest ready? or something else?
otherwise, the guest still create failed, but with your PR, it will only log an error instead of panic?

[2019-05-17 06:20] xunpan commented on #116
I think it has no existing ways to push image automatically to cloud and keep security private in test-infra.
    - there is no response from sig-testing community in slack
    - checked related provider and their settings in test-infra

I'm still thinking is it necessary to make automatically pushed.
  - For end users, they can use released image. We upload it in each release by the script. The l

[2019-05-17 06:37] gyliu513 commented on #116
@xunpan +1 for this, let me close this issue.

[2019-05-17 06:37] #116 closed

[2019-05-17 15:16] xunpan commented on #148
`getIP` is called after VM instance is created.  After the PR, the `Create` wil failed with message and should have another try.

It is not full log and I also not reproduced the issue locally. So, it is hard to say the reason why it fails. Let's check the log if the issue still exists in another try.

[2019-05-17 23:06] hemanthavs commented on #148
With the Latest Code, Cluster creation is successful. I tested 3 times and creation is successful all the times

[2019-05-17 23:13] hemanth-avs opened #153 "Cluster Creation Successful but calico-node-xx pod is in CrashLoopBackOff Status"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**

Create the Cluster and Check the Pod Status

![image](https://user-images.githubusercontent.com/5846263/57960568-13f69000-78cf-11e9-8933-02e935e4bf44.png)

`We can see Pod restarted 60+ times.`

Logs

![image](https://user-images.githubusercontent.com/5846263/57960593-338db880-78cf-11e9-80db-509b55e7d17c.png)

**Environment:*

[2019-05-18 00:56] gyliu513 commented on #153
@hemanthavs this maybe a bug of kubeadm.

@morvencao I recalled you also encounter this issue before, any comments for this? If this is a bug of kubeadm, we can open an issue there.

[2019-05-18 03:20] morvencao commented on #153
@gyliu513 Yes, I have encountered that, let me try to reproduce this and find the root cause.

[2019-05-19 13:40] xunpan commented on #148
@hemanthavs
It's glad to hear that. If it is ok, could you mind to close this ticket?

[2019-05-19 13:55] #148 closed

[2019-05-20 01:31] jichenjc commented on #153
https://github.com/projectcalico/calico/issues/2040
seems point to kube-dns issue...

[2019-05-20 01:31] #105 closed

[2019-05-20 01:32] jichenjc commented on #105
per code merged above..

[2019-05-20 01:39] jichenjc commented on #20
confirmed : through slcli virtual create-options we can get following info

os (COREOS) : COREOS_CURRENT_64                                                               :
:                                : COREOS_LATEST                                                                   :
:                                : COREOS_LATEST_64

[2019-05-20 01:42] jichenjc commented on #73
@hemanthavs you will take this into your work plan, right?

[2019-05-20 01:53] gyliu513 commented on #153
/assign @morvencao

[2019-05-20 01:54] gyliu513 opened #154 "Check if we can learn from vsphere provider for image CI"
/kind bug
/sig ibmcloud

Please refer to https://github.com/kubernetes/cloud-provider-vsphere/tree/master/hack/images/ci to see if this helps?

/assign @xunpan

[2019-05-20 01:57] jichenjc opened #155 "support dedicate host provisioning"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

support dedicate host (baremetal), softlayer support baremetal deployment, we only support virtual now.. let's see whether it has value to support not only virtual machine, but also the dedicated host

**Anything else you would like to add:**
[Miscellaneous information t

[2019-05-20 02:01] gyliu513 commented on #155
This make sense, as Red Hat already proposed a bare metal provider at https://github.com/metal3-io/cluster-api-provider-baremetal

[2019-05-20 02:09] jichenjc commented on #155
yes, that provider is doing by openstack community, I heard they are going to use openstack ironic (standalone version)

[2019-05-20 02:14] hemanthavs commented on #73
yes @jichenjc, I started working on this Item

[2019-05-20 02:17] jichenjc commented on #73
/assign @hemanthavs

thanks :)

[2019-05-20 02:18] jichenjc commented on #20
/assign

[2019-05-21 06:30] gyliu513 opened #158 "Enable Cluster add-on for ibmcloud"
/kind feature
/sig ibmcloud

@jichenjc can you help check if we can enable cluster add-on for ibmcloud?

FYI @hemanth-avs @xunpan @clyang82 @morvencao

[2019-05-22 01:21] jichenjc opened #159 "use kubectl kustomize to replace kustomize"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
kubectl 1.14 support kustomize now, we don't need make it a dependency..

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-22 01:21] jichenjc commented on #159
/assign

[2019-05-22 03:48] jichenjc commented on #158
are you talking about  https://kubernetes.io/docs/concepts/cluster-administration/addons/? or something like https://docs.google.com/document/d/1tpayzZ4teTKOXNUEsA2HK73eWzz9MhZOFTKYz_rRI_8/edit?ts=5cdabdf8#heading=h.f4yb38lpt4z5 ?

[2019-05-22 04:20] gyliu513 commented on #158
@jichenjc I mean here https://github.com/kubernetes-sigs/cluster-api/tree/master/cmd/clusterctl#creating-a-cluster

![image](https://user-images.githubusercontent.com/4461983/58147196-f12bf900-7c8b-11e9-93c8-4353f5c22957.png)

[2019-05-22 04:24] jichenjc commented on #158
ok, seems related to the google doc I attached... will take a look~

[2019-05-22 06:57] jichenjc commented on #158
it's not a big deal after some look, it provided a entry to add some addon for the bootup cluster and can be applied here:

https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/clusterdeployer/clusterclient/clusterclient.go#L213

unless we want to add special stuffs for the new created cluster (maybe we do want but not now?)
we can make it as it is...

of course, we can add th

[2019-05-22 07:10] gyliu513 commented on #158
@jichenjc can we update document by adding an example? Such as installing kubernetes dashboard with `add-ons.yaml`?

[2019-05-22 08:55] gyliu513 opened #161 "Enable installing multiple controller planes cluster"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

IBM Cloud Provider do not support installing a HA cluster (multiple controller planes cluster ) now, we should support this to enable enterprise k8s deployment.

@xunpan can you help check this?

Some discussion for OpenStack provider at https://github.com/kubernetes-sig

[2019-05-22 09:10] gyliu513 opened #162 "Investigate how to enable MachineDeployment for IBM Cloud"
/kind feature
/sig ibmcloud

This can enable end user adding multiple worker node with ease. An example here https://github.com/kubernetes-sigs/cluster-api/blob/master/sample/machinedeployment.yaml

@hemanth-avs can you help work for this?

[2019-05-22 09:14] #159 closed

[2019-05-22 20:32] hemanth-avs opened #163 "Cluster Creartion Failing"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
clusterctl create cluster ...

**What did you expect to happen:**
Successful Creation of Cluster

Logs from controller-manager
[controller-manager-0.log](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/files/3209206/controller-manager-0.log)

**Environment:**

- Cluster-api version:
- KIND version: 0.2.1
- Kub

[2019-05-22 21:12] hemanth-avs commented on #163
I didn't build the Clusterctl. maybe it is causing the issue. I close the issue for now and reopen it once i am able to recreate the issue

[2019-05-22 21:12] #163 closed

[2019-05-23 01:31] jichenjc commented on #20
2019/05/23 09:29:26 [DEBUG] Status Code:  500
2019/05/23 09:29:26 [DEBUG] Response:  {"error":"CoreOS Stable is not available as of 03\/30\/2018 (Item #(6183).","code":"SoftLayer_Exception_Public"}
SoftLayer_Exception_Public: CoreOS Stable is not available as of 03/30/2018 (Item #(6183). (HTTP 500)

we have to hold this for a while....

[2019-05-23 01:38] jichenjc commented on #162
this should be transparent to provider ? I understand machinedeployment is for multiple machines reconcile and the logic mostly in cluster-api? anyway, do some analysis might have conclusion paste here

[2019-05-23 01:42] jichenjc opened #164 "support flavor"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

use `slcli virtual create-options`
we have following output (part), we need provide this into our spec/status to avoid input memory/cpu etc one by one

:             flavors (balanced) : B1_1X2X25                                                                       :
:

[2019-05-23 01:51] xunpan commented on #154
It shows a way to push image on go `gcr.io`. It uses secret `cloud-provider-vsphere-e2e-config` to store the credential for login before push. Again, not know how they create and keep credential private.

[2019-05-23 01:56] jichenjc commented on #154
can we post some question in their slack channel or submit a issue to ask for additional info? I think it's important for us to have e2e test in long term

[2019-05-23 01:58] jichenjc commented on #158
@gyliu513 ok, that's a very good suggestion, I need try and see what's happened there

[2019-05-23 02:03] gyliu513 commented on #154
You can also open an issue in vsphere cloud provider repo to ask

[2019-05-23 02:10] jichenjc commented on #154
I opened https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/268
but not sure I am asking right thing, @gyliu513 @xunpan please add more info if I have some misunderstanding

[2019-05-23 03:21] xunpan opened #165 "After machine resource pivot to target cluster. PHASE does not updated."
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
After machine resource pivot to target cluster. PHASE does not updated.
[code]

**What did you expect to happen:**
update PHASE to correct information

[2019-05-23 03:22] xunpan opened #166 "webhook checking"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
Machine specific information is not checked which may failed VM instance provision with wrong information.

Let's check available values

[2019-05-23 03:54] jichenjc commented on #166
@xunpan do we have a chance to reuse some ibmcloud provider specified code ? I think we should not  invent a webhook wheel as those kind of webhook should already be defined/supported?

[2019-05-23 03:55] jichenjc commented on #165
is this a bug of cluster-api? as we seems can't do something in provider side? @xunpan

[2019-05-23 04:09] jichenjc commented on #154
@xunpan can you talk to sig-testing as kubernetes-sigs/cluster-api-provider-vsphere#268 has some comments and I am not very familiar with this .. thanks

[2019-05-23 05:21] xunpan opened #167 "clusterctl failed in pivoting resources"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[code]

This happens sometimes during my development work. Not sure if it is related to cluster-api or ibm-cloud-provider.

Trace it here for more investigation.

[2019-05-23 09:56] jichenjc commented on #153
I met this again today...

[2019-05-24 00:58] xunpan commented on #165
`Machine` is managed by provider controller. So, `PHASE` is managed by us.

[2019-05-24 01:03] xunpan commented on #166
It should be good news to me if we've already have a webhook code for reusing. But, I checked `softlayer` go library code, and did not find a webhook for the purpose.

Could you share where is the code for sharing ?

[2019-05-24 01:20] #139 closed

[2019-05-24 01:20] jichenjc commented on #166
I am asking because I knew openstack cloud provider has some logic so I want to double check whether softlayer has so we can avoid make a wheel.. I don't know whether we have or not but we'd better check with folks from ibmcloud first

[2019-05-24 02:04] #165 closed

[2019-05-24 07:38] #158 closed

[2019-05-24 09:08] jichenjc commented on #153
@hemanth-avs @xunpan @gyliu513 we need give this high priority...

[code]

I have 1+4 cluster above and

[code]

apparently all nodes has issue in their calico settings

I am not very expert in network area especailly the calico side, looks like the new node has issue in connecting to svc 10.96.0.1 which is by default the kube-api
logon to one node and found it has a route here:

[code]

so all 10

[2019-05-24 09:13] gyliu513 commented on #153
What is the log of those `CrashLoopBackOff` pods? Is this a bug of `kubeadm`? Does OpenStack works fine?

[2019-05-24 09:13] jichenjc opened #181 "reboot master lead to kube service not started"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
first reboot the master that deployed, then wait for machine back to start state and see following ....

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2019-05-24 09:14] jichenjc commented on #181
@xunpan do you know whether we need some steps to persistent the configuration such as restart docker container at startup stage?

[2019-05-24 09:32] jichenjc commented on #153
log pasted above, I don't think it's kubeadm bug because openstack seems works fine based on my previous test result...  @morvencao have you recently use openstack to create cluster and have this issue?

[2019-05-25 02:04] xunpan commented on #181
`kubeadm` should support it.
https://github.com/kubernetes/kubeadm/issues/110

[2019-05-27 02:07] jichenjc commented on #181
let's use https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/293/files

[2019-05-27 03:45] jichenjc commented on #153
run this on the node
[code]

calico-node-9qmtb                             1/1     Running            2          3d18h
....
calico-node-whb9c                             1/1     Running            1112       2d20h

fixed the problem (whb9c ) pod, so maybe kube-proxy has some problem ?? need further check on the configuration...

[2019-05-27 05:02] wanghh2000 opened #184 "Cannot create cluster by using kind"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
Error "unable to create control plane machine: timed out waiting for the condition" happened.
Steps:
1) Install go and clusterctl and kind.
2) Get userName and apiKey.
3) Run command
[code]
4) Output.
[code]

**What did you expect to happen:**
Hope create cluster success or how to handle the error.

**Anything else you would l

[2019-05-27 05:11] #181 closed

[2019-05-27 05:33] jichenjc commented on #184
21:18->21:48
it's time out for 1/2 hour, so please use -v 10 to open debug and see what happened
and please refer to docs/ there are a couple of tips to do trouble shooting

[2019-05-27 05:43] wanghh2000 opened #186 "Better to tell user how to check if kind works well with docker"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
Install docker-ce 18.09.6 and kind 0.3.0, found create bootstrap cluster failed by kind.
Better to give some steps to check if kind works well with docker before create k8s cluster on ibmcloud by clusterctl.

**Anything else you would like to add:**

https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/190

[2019-05-27 06:47] gyliu513 opened #187 "Check how to delete master node"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

As the cluster controller was running on master node, so we may not able to delete master node based on steps here https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud#cluster-deletion .

@wanghh2000 can you please help check this?

FYI @jichenjc @xunpan @clyan

[2019-05-27 07:01] hchenxa commented on #187
looks like same with https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/334.

[2019-05-27 08:24] wanghh2000 commented on #184
@jichenjc I just apply softlayer account days ago, and "Current Balance" is 0, Is it the reason?
Repeating the following messges.
[code]

[2019-05-27 09:33] #186 closed

[2019-05-27 09:42] jichenjc commented on #187
yes, some discussion already there, should we allow this deletion or saftly ignore this cluster deletion (to me it's very unsafe as it's deleting itself...), do we encourage people to do so?

[2019-05-27 09:45] gyliu513 commented on #187
This is a use case for cluster api at https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/staging-use-cases.md#deleting-clusters

Perhaps we do not need to mention delete master here, but delete cluster?

[2019-05-27 09:50] jichenjc commented on #184
I guess not, the account should be ok, did you see the mahcine created in SL GUI?
you should see it's created a VM and I guess you might have a ssh key issue that prevent you from get the kubeconfig file

root@jichen1:/home/cloudusr/go/src/sigs.k8s.io/cluster-api-provider-ibmcloud/cmd/clusterctl# kubectl --kubeconfig=kubeconfig  get pod --all-namespaces
NAMESPACE                  NAME

[2019-05-27 09:53] jichenjc commented on #187
the reason is you will run the 'delete cluster' command on master
this is still delete itself command , I am ok to this as it's anyway need to be deleted but we need make sure this is safe and I doubt whether it will lead to orphan resource during some error case and lead to issues

[2019-05-27 10:10] gyliu513 commented on #187
@wanghh2000 please check if this works https://github.com/kubernetes-sigs/cluster-api/tree/master/cmd/clusterctl#deleting-a-cluster

[2019-05-27 11:17] morvencao commented on #153
@jichenjc Sorry for the late response, I didn't have time to try this on provider openstack.

If you check the logs of the failed pod, you can see that the pod can't connect to the api-server:
[code]

[2019-05-27 12:58] morvencao commented on #153
The reason calico node crashes should be caused by the overlap of the service CIDR and host CIDR;  The default service CIDR is `10.96.0.0/12` while the host IP is 10.xx.xxx.xxx.
So I suggest making sure they do not overlap by changing our default service CIDR from `10.96.0.0/12` to `20.96.0.0/12` in PR: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/191

[2019-05-27 15:07] clyang82 opened #192 "Cannot login the machine with non-root user"
/kind bug
/sig ibmcloud

if configured `sshUserName: clyang` non-root user, it throws the following error when executing `./clusterctl create cluster ...`

[code]

[2019-05-27 16:00] gyliu513 commented on #192
@xunpan @jichenjc any comments for this?  I think SL API should also support non-root user.

[2019-05-28 00:21] xunpan commented on #192
I think you should use a non-root user which works in the VM instance. E.g. `ubuntu`.
Currently, cluster API does not create the user by `sshUserName` automatically.

[2019-05-28 00:58] #62 closed

[2019-05-28 01:12] gyliu513 commented on #192
@xunpan how can I know which user was supported in the VM instance?

[2019-05-28 01:25] xunpan commented on #192
https://docs.openstack.org/image-guide/obtain-images.html
It tells each predefined image user accout.

[2019-05-28 01:27] jichenjc commented on #153
ok, let me try this solution first, then I will post some comments based on the PR you submitted and info here, the IBM cloud 10.x.x.x/8 might be the key issue that you suggested @morvencao

[2019-05-28 01:35] gyliu513 commented on #192
Can we update the document a bit by adding this to troubleshooting? @xunpan @clyang82

[2019-05-28 01:36] jichenjc commented on #192
@gyliu513 I agree with @xunpan
The image will not support all user by default, maybe we need @clyang82 to help to find the default user id of IBM image, the image precreated is not able to create user we defined in cluster-api-xxx, and this is not best practice, so add some info in the document should be enough

[2019-05-28 02:30] morvencao commented on #153
@jichenjc Thanks, let's keep default service CIDR unchanged and try to make vm IP configurable.

[2019-05-28 02:50] chenzhiwei opened #193 "tweak IbmcloudXX to IBMCloudXX for better UX"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-28 02:53] jichenjc commented on #153
I tried to use 20.96.x.x/12 and 172.31.0.0/16 as
[code]

both works for me, so I suggest we use 172.31.0.0/16 as this is enough for us to proceed and still a private IP address, we should document this limitation because of IBM cloud private ip issue and proceed...

@gyliu513 @gyliu513 @xunpan thoughts?

[2019-05-28 02:58] jichenjc commented on #193
where's the UI?? do we have UX?

[2019-05-28 03:14] gyliu513 commented on #153
@jichenjc can we enhance the `clouds.yaml` as follows to enable end user can configure the cidr for the vms?

[code]

[2019-05-28 03:17] morvencao commented on #153
@gyliu513 If have want to use customized CIDR for VM IP other that default `10.x.x.x/8`, then we need to create `subnetwork` and then create VM in that `sebnetwork`, something like openstack,

[2019-05-28 03:29] chenzhiwei commented on #193
The keyword is in YAML files, the YAML files is the interface to users.

[2019-05-28 03:50] jichenjc commented on #153
@morvencao you mean create a subnet in IBM cloud and then our instance will start to use that network? I didn't try this before but I think it's something we can suggest

so to summarize ,we have to keep '10.96.0.0/12' as the cluster ip and change IBM cloud side?

[2019-05-28 04:15] morvencao commented on #153
@jichenjc I thought `subnetwork` or configurable VM CIDR should be support finally.

For now, I'm not sure if softlayer supports to create customized subnetwork, I didn't find the creation subnetwork interface neither in API, nor in UI portal:https://control.softlayer.com/network/subnets

[2019-05-28 04:59] clyang82 commented on #192
From [here](https://cloud.ibm.com/docs/vsi-is?topic=virtual-servers-is-images), we can see the SL support linux `CentOS`, `Debian`, `Redhat`, `Ubuntu`. I have tried with `CentOS_LATEST`, `DEBIAN_LATEST`, `REDHAT_LATEST`, `UBUNTU_LATEST`.  They can be logged with`root` user successfully. so suggest to hide `sshUserName` from the template file, it can be able to reduce the chances of errors. if ther

[2019-05-28 05:19] jichenjc commented on #192
it's not a good practice to hide the user name ,e.g. ubuntu image sometimes only support 'ubuntu' user and no 'root' logon... I prefer to only document this kind of info instead omit ssh user , and omit ssh user might be more confusing.

[2019-05-28 05:19] gyliu513 commented on #192
@clyang82 How about keep `sshUserName` and set the default value as root plus some comments?

[code]

@jichenjc @xunpan WDYT?

[2019-05-28 05:30] jichenjc commented on #192
works for me @gyliu513

[2019-05-28 05:30] xunpan commented on #192
I think we need both.
 - As IBM allows `root` and it works for all VM as @clyang82 tested, it can be default if there is no other security concerns. As what we did for memory and cpus. Both are preferred values.
 - Document it also needed. It should tell what kind of accout can be used in this field.

[2019-05-28 05:44] xunpan commented on #193
I agree with @chenzhiwei. `Ibm` seems not a word. `IBMCloud` should be better to export to end users.

[2019-05-28 05:46] gyliu513 commented on #193
@xunpan @chenzhiwei can you help check if `kubebuilder` support this? The kind like `IbmcloudMachineProviderSpec` are generated by `kubebuilder`.

[2019-05-28 05:50] gyliu513 commented on #184
@wanghh2000 +1 to @jichenjc , please check troubleshooting guidance here https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/docs/trouble_shooting.md#get-log-of-clusterapi-controller-containers

[2019-05-28 05:50] xunpan commented on #187
FYI: how deletion works
`clusterctl delete cluster` should pivot resources from target cluster to a bootstrap cluster and then delete cluster API resources to make local controller delete all VM instances.

It should work based on my understanding. If there has any issue, please let me know. @wanghh2000

[2019-05-28 05:57] jichenjc commented on #187
@xunpan
I agree it might be the case if we are using the existing cluster, but for new provisoned one, this is not true.... see my provision log below

I0528 02:49:01.520258    4302 clusterdeployer.go:154] Done provisioning cluster. You can now access your cluster with kubectl --kubeconfig kubeconfig
I0528 02:49:01.520408    4302 createbootstrapcluster.go:36] Cleaning up bootstrap cluster.
I0528 0

[2019-05-28 07:05] xunpan commented on #187
I'm not sure what command line options you used. But it seems work in my environment. I use `kind` as boot strap cluster but not existing one.

This is my test result:
[code]
It hangs here, but the related resources had already deleted from target cluster.
[code]
So, I think it should work. But, the deletion should have bug in IBM Cloud implementation.

[2019-05-28 07:12] chenzhiwei commented on #193
/assign

I will take a look.

[2019-05-28 07:13] jichenjc commented on #187
this is my command ...

[code]

and after creation complete
[code]

[2019-05-28 07:29] xunpan commented on #187
@jichenjc
We're **deleting** cluster I guess. It is different from `create` operation.

[2019-05-28 07:51] chenzhiwei commented on #193
Seems the Kind is generated by `--kind Name`, so it is possible to generate by kubebuilder.

[2019-05-28 08:14] jichenjc commented on #187
@xunpan you are right, I misunderstand some part

now I have similar situation to you

I0528 07:58:48.015155   14233 clusterclient.go:750] Waiting for Cluster API resources to have statuses...

so there might be something wrong we need handle...

[2019-05-28 08:18] jichenjc commented on #187
The cluster is gone , but the resource is still there, and there is no way to clear the machines unless we go to cloud portal and make changes.... this is unacceptable

jichen-master-g8wzd.example.com
jichen-node-ll257.example.com

[2019-05-28 08:18] jichenjc commented on #187
/assign

[2019-05-28 08:18] jichenjc commented on #187
let me spend some time on this as this is important due to resource leak

[2019-05-28 08:29] jichenjc commented on #153
I have no idea how IBM cloud runs their IP settings

looks like we used this subnet (maybe because we used washington 1 zone) and I have no idea why it has a route 10.x.x.x/8 by default and how it connected each other, as far as I can tell seems current IBM cloud doesn't support VPC (see AWS VPC concept) ... so again, for short team, seems modify cluster service IP (it's virtual and nonaccessable

[2019-05-28 08:38] hchenxa commented on #167
run the same issue:
[code]

[2019-05-28 08:44] clyang82 commented on #192
Close it since PR was merged

[2019-05-28 08:44] #192 closed

[2019-05-28 08:45] hchenxa opened #196 "prefer to use private network to connect the apiserver"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
currently, when deploy the kubernetes cluster, the calico and other component use public network.

refer the kubelet configuration:
[code]

cc @gyliu513

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-28 08:48] morvencao commented on #153
@jichenjc Agreed. Complete fix need to changes in API, at least support configurable CIDR in `Clouds.yaml` or `machines.yaml`, I think. Changing the service CIDR should be a short-term fix.

Comments? @gyliu513

[2019-05-28 11:57] gyliu513 commented on #196
+1 for this, I think we need to update the logic of post install script in user-data?

FYI @xunpan @jichenjc

[2019-05-28 11:58] xunpan commented on #196
make sense.

[2019-05-28 11:59] xunpan commented on #167
@hchenxa
Is there any clue for reproducing this? I did not encounter this issue for several days.

[2019-05-28 12:02] #193 closed

[2019-05-28 13:05] wanghh2000 commented on #184
Try to find what's the root cause?

[2019-05-28 13:10] wanghh2000 opened #197 "No explanation for how to edit yaml files for create cluster"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
Following doc to create cluster and no details about how to edit cluster.yaml and machines.yaml

**What did you expect to happen:**
Some explanation about values in yaml file.

**Anything else you would like to add:**

**Environment:**

- Cluster-api version: mainline
- Minikube/KIND version:  kind 0.3.0
- Kubernetes version:

[2019-05-28 13:32] gyliu513 commented on #184
Exactly!

[2019-05-28 23:53] jichenjc commented on #167
same question to me , I created/deleted cluster time to time and didn't find the issue, did you always get this issue or randomly find it within same configuration? @hchenxa

[2019-05-28 23:57] hchenxa commented on #167
no, this can be reproduced in my environment every time.

[2019-05-28 23:59] jichenjc commented on #167
please paste the configuration such as machines.yaml and we can check whether it's edge case ,and please confirm you used lastest code/image

[2019-05-29 00:25] jichenjc commented on #196
it has a set of deep buried into cluster-api logic, long story short, the
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/pkg/cloud/ibmcloud/deployer.go#L48
will be used as IP

https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/pkg/cloud/ibmcloud/actuators/machine/actuator.go#L297

need to be changed to return private IP instead of public IP..

[2019-05-29 00:42] hchenxa commented on #167
machine.yaml:
[code]

cluster.yaml
[code]

[2019-05-29 00:46] xunpan commented on #196
I guess this code should not be changed.

The annotation of public IP address is used to access target Kubernetes cluster. We cannot access cloud kubernetes with private IP address.
I think private IP should be used for target kubernetes cluster internal communication only.

[2019-05-29 00:52] hchenxa commented on #196
right, and agree with Xun that we can only use the private network in user-data when setup the kubeadm.

[2019-05-29 00:56] hchenxa commented on #167
and paste the logs from clusterctl:
[code]

cc @xunpan

[2019-05-29 00:56] jichenjc commented on #196
that's my assumption to keep the public IP as I am not sure the side effect is, then we need a way to get the private IP by adding some logic (of course we can use linux command to query but I am not sure that's a very good way)

as I said, the logic is buried in cluster-api and I think by design they are using
https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/cl

[2019-05-29 01:04] hchenxa opened #199 "[Question]how to use the clusterctl validate cluster"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

clusterctl provide a command which used to check the cluster healthy with `clusterctl validate cluster`

but the command behavior was after the master provided, the bootstrap node will be deleted, so the question is, how to use this command to check my cluster? did I nee

[2019-05-29 01:15] xunpan commented on #199
The `bootstrap cluster` is deleted. But the binary should be on your `bootstrap host`.
So, the `clusterctl` exsits for your use.

[2019-05-29 01:21] jichenjc commented on #199
I got this

[code]

[2019-05-29 01:22] jichenjc commented on #199
the bootstrap cluster is gone in my above test, so no need to copy the binary just use the kubeconfig..

[2019-05-29 01:25] jichenjc opened #200 "check validation error report of clusterctl validate cluster"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

need to know why the validate failed.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes ve

[2019-05-29 01:26] jichenjc commented on #167
check this
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/153
and see whether it helps

[2019-05-29 01:27] xunpan commented on #199
The `validation` should be failed because we did not fully support it until now.

[2019-05-29 01:29] jichenjc commented on #199
opened https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/200 to track

[2019-05-29 01:33] jichenjc commented on #200
looks like

[code]

failed, we seems only have phase running but no NodeRef set, this might need further check in other providers

[code]

[2019-05-29 01:48] jichenjc commented on #196
[code]

[2019-05-29 02:21] jichenjc commented on #15
#187 had dependency on this now, as there's logic code like:

[code]

we need implement this now

[2019-05-29 02:42] xunpan commented on #167
When `ibmcloud-master-jr6bn` is moved from boot strap to target cluster. It should be deleted in local cluster. However, it still be queried out after it is deleted. I guess it may be a cluster-api bug. I will check it.

[2019-05-29 02:48] jichenjc commented on #200
cluster-api/
controller/node/node.go
has some logic in setting NodeRef

and https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/pkg/cloud/aws/actuators/machine/actuator.go#L475
has some logic as well

need double check which one might fit here

[2019-05-29 02:57] jichenjc commented on #15
FYI @xunpan @gyliu513

[2019-05-29 05:36] clyang82 commented on #197
more specific - `osReferenceCode` is hard to understand. Should we name it as `image`?

/cc @gyliu513 @jichenjc comments?

[2019-05-29 05:40] wanghh2000 commented on #184
Incorrect values in cluster.yaml and machines.yaml.
Thanks.

[2019-05-29 05:40] #184 closed

[2019-05-29 05:47] xunpan commented on #197
The IBM Cloud softlayer uses "operatingSystemReferenceCode" as arguments.
This is programming interface. I think it is not friendly to end users.

Could you please help to check how IBM Cloud (softlayer) uses this value and document it for end users? We should better use consistent term for it.

[2019-05-29 05:47] clyang82 opened #202 "Enable daily build on master"
/kind bug
/sig ibmcloud

Right now, we have some code changes on master branch so that the v0.0.1 image cannot be working. we have to setup the daily build on master.

FYI @gyliu513 @jichenjc

[2019-05-29 05:47] clyang82 commented on #202
/assign

[2019-05-29 05:47] gyliu513 commented on #197
@clyang82 already have document here https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/docs/ibmcloud_help.md#how-to-set-correct-os-reference-code-in-machinesyaml

[2019-05-29 07:16] xunpan commented on #202
Is this duplidated of https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/154?

[2019-05-29 12:46] wanghh2000 commented on #115
Will check the other 2 bugs for cluster-api-provider-openstack and cluster-api-provider-vsphere.

[2019-05-29 13:19] gyliu513 commented on #154
Working at https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/203#issuecomment-496895135

[2019-05-29 13:19] #154 closed

[2019-05-29 13:20] #115 closed

[2019-05-29 13:42] #153 closed

[2019-05-30 02:11] chenzhiwei opened #205 "simplify the build and use of cluster-api"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-30 06:01] jichenjc opened #207 "Error level log is not needed"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
handle those Exxx log

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kube

[2019-05-30 19:19] rtheis commented on #86
IBM Cloud Kubernetes Service (IKS) handles provisioning and configuring the IBM cloud provider using the Kubernetes controller manager architecture.  That is, the cloud provider is internal, not external.  Given that IBM's cloud provider code is not yet open source and that it is moving to the cloud controller manager architecture, it will be difficult support the IBM `cloud-config`,  `cloud-provi

[2019-05-31 04:44] #187 closed

[2019-05-31 05:09] gyliu513 commented on #86
Thanks @rtheis , this make sense. The Cluster API is mainly focusing on IaaS cloud to manage the k8s clusters, not sure if this provider can leverage IKS to provide functions like LoadBalacer etc.

FYI @xunpan @hchenxa for more comments.

[2019-05-31 05:29] wanghh2000 commented on #197
This is what I get from there https://softlayer-api-python-client.readthedocs.io/en/latest/cli/hardware/#hw-create. Not sure if it is the same.

[2019-05-31 06:41] gyliu513 opened #209 "quay.io report some VA errors for latest controller"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

![image](https://user-images.githubusercontent.com/4461983/58686692-11596780-83b2-11e9-89bc-518d490b1f97.png)

@wanghh2000 can you help check?

[2019-05-31 06:41] gyliu513 commented on #209
/assign @wanghh2000

[2019-05-31 06:47] jichenjc commented on #209
I thought we fixed the bug ?? https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/204

[2019-05-31 06:51] wanghh2000 commented on #209
I will check.

[2019-05-31 07:01] wanghh2000 commented on #209
![image](https://user-images.githubusercontent.com/7058900/58687704-f805ea80-83b4-11e9-8253-69f794c1ae58.png)

[2019-05-31 07:26] clyang82 commented on #209
@gyliu513 I just manually triggered the ci build to generate the latest image. @wanghh2000 's picture is latest.

[2019-05-31 07:32] clyang82 opened #210 "quay.io report some VA errors for latest clusterctl"
/kind bug
/sig ibmcloud

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/7711311/58689318-41f0cf80-83b9-11e9-9037-c916dc50d9f6.png">

[2019-05-31 07:52] jichenjc commented on #86
that's my assumption as well, cloud-provider-xxx and cluster-api-provider may use some code but should not provide simliar function,  what's the use case to create LB in cluster-api provider? I think we need first create cluster then define LB against the new cluster but that's another step..

[2019-05-31 08:55] hchenxa opened #212 "clusterctl support in cluster mode"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

as we already provide the clusterctl docker image, so I can run the clusterctl with pod in an kubernetes as well, if the command running in a pod, it's better to support in cluster mode so that it can use the current k8s cluster to deploy the machines.

cc @gyliu513 @cly

[2019-05-31 09:05] wanghh2000 commented on #209
Fixed by #204.
Test again passed.

[2019-05-31 09:41] wanghh2000 opened #213 "Echo error messages but cluster is created"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
Follow the steps to creating a cluster. Every thing is fine but there are error messages.
[code]

**What did you expect to happen:**
No error message.

**Anything else you would like to add:**

**Environment:**

- Cluster-api version:
- Minikube/KIND version: 0.3.0
- Kubernetes version: (use `kubectl version`): 1.14
- OS (e.g.

[2019-05-31 09:46] jichenjc commented on #213
where's error message?  you mean the Exxx logs ?
please make sure you didn't change the logic before you make any changes...

FYI https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/208

[2019-05-31 09:49] clyang82 commented on #212
/assign

[2019-05-31 09:50] #210 closed

[2019-05-31 09:50] #209 closed

[2019-05-31 09:53] clyang82 commented on #202
Close it since the PR was merged.

[2019-05-31 09:53] #202 closed

[2019-05-31 10:08] wanghh2000 commented on #213
No any code change or others, it is the latest code.

[2019-05-31 13:13] xunpan commented on #213
@wanghh2000
1. it has 2 issues
   - the message `Returning IP from machine annotation` should not be default log level
   - the error message should not be ouput here. It is not error but detection process. It is error log in `cluster-api`. Please @wanghh2000 help to log it in `cluster-api` community to see their response.
2. #208 is different from this one. It is for controller but this is for co

[2019-05-31 13:14] xunpan commented on #212
@hchenxa Could you please help to share potential use case for this?

[2019-05-31 13:18] xunpan commented on #207
If we use this to trace `update` related message, I think we can close https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/16. It traces initial version of mahine actuator. `update` is one of them. It is implemented. The main left issue of it should be such error message things.

The other enhancement for `update` can be logged later if we have use case.

Any comments

[2019-05-31 14:41] wanghh2000 commented on #213
@xunpan OK, let me check the message again and log a issue to trace.

[2019-06-01 03:16] #197 closed

[2019-06-02 09:55] jichenjc commented on #213
for #208 case, I mean it's not an error, it's actually something like periodic check...so the errors above apply for same reason, I think make them from Error to Info will be a good approach in cluster-api or at least provide some flag to https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/master/pkg/cloud/ibmcloud/deployer.go#L79 utils.ExecCommand to optionally not using Error l

[2019-06-02 21:56] hwinkel opened #216 "SSH Copy of admin.conf breaks"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**

./clusterctl command as in the README. runs fine upt to the ssh command
trying to fetch the (etc/kubernetes/admin.conf

SSH Command breaks

`E0602 23:46:54.082651    8578 util.go:178] error executing command "ssh -i /Users/hwinkel/.ssh/id_ibmcloud -o StrictHostKeyChecking no -o UserKnownHostsFile /dev/null -o BatchMode=yes ub

[2019-06-03 00:11] xunpan commented on #216
@hwinkel
It is not madatory to have `=` in the option.

Could you please help to check:
1. did you create ssh key with correct public key corresponding to ~/.ssh/id_ibmcloud which is generated during running script `fenerate-yaml.sh`? The public key name should be `id_rsa_ibmcloud.pub`. You should use the content of it to create ssh key in IBM Cloud.
2. in `machines.yaml`, you set `sshKeyName:` wi

[2019-06-03 02:07] jichenjc commented on #216
this means likely the ssh key password is not created and injected into VM correctly, as xun mentioned, please check ssh key creation and try again, you may see some error log but it's a periodic loop and it should success after several loops

[2019-06-03 07:08] wanghh2000 commented on #213
Trace the message issue.
https://github.com/kubernetes-sigs/cluster-api/issues/979

[2019-06-03 07:20] jichenjc commented on #213
https://github.com/kubernetes-sigs/cluster-api/issues/974。。

[2019-06-03 19:28] hwinkel commented on #216
No, a normal login shell (without all the options) works just fine if i use
ssh -i /Users/hwinkel/.ssh/id_ibmcloud  ubuntu|root@1.2.3.4. I get a login shell, the d_ibmcloud.pub is deployed correctly.

regardless of the "=" or not. (i have read the same) it should be consistent. Don'T know the OPenSSH on the mac does something different here. If I run the command with the "=" from command line it a

[2019-06-04 00:18] xunpan commented on #216
@hwinkel
It can run without pod.

I agree it should be consistent. It is should be helpful in debug. I will fix it. But it is not funcational. For your issue, need password for ssh, I'd like to know what happens exactly to understand it.

With or without `=` is fine as `-o` format for openssh. It is documented in `openssh` man page.
[code]

My test:
[code]

[2019-06-04 06:04] jichenjc commented on #216
yes, I think you the format is not the problem, there should be something wrong in ssh key pair setting

maybe check following 2 things :
1) check whether the private/public key is 0600/0400 mode
2) check whether you copied the file `/Users/hwinkel/.ssh/id_ibmcloud` but there is another public key `/Users/hwinkel/.ssh/id_ibmcloud.pub` in same folder but not the exact public key it created (which i

[2019-06-04 09:34] gyliu513 commented on #161
@xunpan https://github.com/kubernetes-sigs/cluster-api/pull/878

[2019-06-04 09:45] jichenjc commented on #161
@gyliu513 I think you mentioned ICP might consume this ibmcloud provider repos soon, so the question is the PR you metioned is on master, but providers depends on origin/release-0.1 branch?

[2019-06-04 09:50] gyliu513 commented on #161
@jichenjc I think Cluster-API will have another release soon, they have released another 0.1.1 version at https://github.com/kubernetes-sigs/cluster-api/releases/tag/0.1.1

[2019-06-04 09:58] gyliu513 opened #221 "Upgrade Cluster API to 0.1.1"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This can enable us to use the feature of multiple control plane support https://github.com/kubernetes-sigs/cluster-api/compare/0.1.1...master

Related to https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/161

FYI @xunpan @jichenjc

**Anything else y

[2019-06-04 14:24] gyliu513 commented on #221
@jichenjc seems we do not need to upgrade, and release-0.1.0 already include the fix based on comments here https://github.com/kubernetes-sigs/cluster-api/pull/878#issuecomment-498678918

[2019-06-05 01:08] jichenjc commented on #161
@gyliu513 current provider use release-0.1 branch, will create tag on master branch (without backport) helps us?

[2019-06-05 01:09] jichenjc commented on #161
https://github.com/kubernetes-sigs/cluster-api/pull/889..

[2019-06-05 01:44] jichenjc commented on #221
yes, I noticed that, the action is to consider how to consume that change now..

[2019-06-05 02:00] gyliu513 opened #222 "Adding KIND to clusterctl docker image"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This can help to facilitate the process of provisioning k8s cluster with KIND.

FYI @clyang82 @hchenxa

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-05 02:26] hchenxa commented on #222
@gyliu513 , based on https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/212, if we support in-cluster mode to use the existing cluster, I did not think that we should package kind in the docker image.

[2019-06-05 02:29] hchenxa commented on #212
@xunpan , their have one case like:

I was using tekton to create a pipeline and the first task was use cluster-api to create the cluster, so the clusterctl will be running in pod. in this case, as I already have the existing kubernetes info and the service account which can connect to api server, so I just need to use these info to connect the existing cluster but not to use kind to create the ne

[2019-06-05 02:45] gyliu513 commented on #222
@hchenxa as using existing cluster need to do some clean up after cluster install finished, like some CRD etc. We can package KIND now to have a simple way to install.

[2019-06-05 02:53] hchenxa commented on #222
we have package the kind in docker with clusterctl packaged and @zxdiscovery@gmail.com was do testing these days.

cc @clyang82

[2019-06-05 03:09] xunpan commented on #221
I think we can close this ticket. We've already have it after https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/61

[2019-06-05 03:22] jichenjc commented on #221
we should have this now in our vendor subfolder ,so we can close this
https://github.com/kubernetes-sigs/cluster-api/pull/878/files

[2019-06-05 04:00] #221 closed

[2019-06-05 05:29] gyliu513 commented on #222
I opened an issue at https://github.com/kubernetes-sigs/cluster-api/issues/981 to let cluster-api can use random name for bootstrap cluster.

[2019-06-05 05:47] hchenxa commented on #222
/assign @zxDiscovery

[2019-06-05 08:28] jichenjc commented on #16
close this as all things completed

[2019-06-05 08:28] #16 closed

[2019-06-05 15:01] wanghh2000 opened #224 "Make timeout configurable for get ibmcloud active transactions while creating a cluster"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
Make timeout configurable for get ibmcloud active transactions while creating a cluster

**Anything else you would like to add:**

[2019-06-06 01:31] wanghh2000 commented on #167
No clue found why I hit the same issue with `dataCenter: syd01`, and no problem with ` dataCenter: wdc01`.

[2019-06-06 01:34] jichenjc commented on #167
maybe some security group setting or other datacenter specified reason...  need check softlayer logs maybe ..

[2019-06-06 02:27] wanghh2000 commented on #213
Close this and we can discuss in #216

[2019-06-06 05:16] #222 closed

[2019-06-06 06:21] hchenxa opened #226 "prefer to have a yaml sample to deploy the cluster within pod"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

we have package kind and docker client in clusterctl docker image, so it's prefer to have a yaml file which can be used to deploy cluster within pods.

cc @gyliu513 @zxDiscovery @clyang82

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscel

[2019-06-06 06:23] gyliu513 commented on #226
@zxDiscovery can provide both document and yaml file to fix this.

[2019-06-06 08:40] clyang82 opened #227 "Cannot delete the cluster created by kind"
/kind bug
/sig ibmcloud

We have packed kind and docker client in clusterctl docker image. it is available in latest version - quay.io/cluster-api-provider-ibmcloud/clusterctl:latest

When I use a sample job to create the cluster, the kind cluster cannot be deleted once there has any errors.  You have to login the worker node to install the kind client to delete the cluster in order to rerun the j

[2019-06-06 14:31] jichenjc commented on #161
I will submit a PR according to https://github.com/kubernetes-sigs/cluster-api/pull/878 (the answer from ncdc), looks like we need some changes in the provider side later...

[2019-06-09 07:56] dongwangdw opened #229 "Can not build clusterctl"
/kind bug
/sig ibmcloud

[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I just cloned the cloudctl as the readme states.

**What did you expect to happen:**
cloudctl can be built successfully or `go build` is good.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
os: ubuntu 18.0

[2019-06-09 08:30] dongwangdw commented on #229
For more info about my kubectl:
`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79

[2019-06-09 08:31] dongwangdw commented on #229
I found this #https://github.com/gruntwork-io/terratest/issues/276. I changed my the version of go-client. But no help.

[2019-06-09 12:43] gyliu513 commented on #229
Your `GOPATH` is not right.

[code]

[2019-06-10 02:22] wanghh2000 commented on #229
Run `env` and append the output could help trouble shooting.

[2019-06-10 03:27] dongwangdw commented on #229
My GOPATH is `/root/go/`.  I tried again, and now I got this. Did I miss anything?

root@wangdong1 ~/g/s/s/cluster-api-provider-ibmcloud# pwd
/root/go/src/sigs.k8s.io/cluster-api-provider-ibmcloud
root@wangdong1 ~/g/s/s/cluster-api-provider-ibmcloud# echo $GOPATH
/root/go
root@wangdong1 ~/g/s/s/cluster-api-provider-ibmcloud# cd cmd/clusterctl/
root@wangdong1 ~/g/s/s/c/c/clusterctl# ls
Dockerfile

[2019-06-10 04:03] jichenjc opened #230 "Create loadbalancer inside ibmcloud"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
this is needed for some use case such as multiple master
https://kubernetes.io/docs/setup/independent/high-availability/

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-10 04:04] jichenjc commented on #230
/assign

[2019-06-10 04:06] gyliu513 commented on #230
FYI @xunpan

[2019-06-10 05:08] gyliu513 commented on #229
@wanghh2000 can you help check @dongwangdw 's env to see what is wrong?

[2019-06-10 05:21] wanghh2000 commented on #229
@dongwangdw Did you have a difference version code under Path /root/go/src/k8s.io  or GO/src/k8s.io?

[2019-06-10 05:33] xunpan commented on #230
For `softlayer.com`, it seems we have no permission or even cannot be permitted to create LB. So, you may need to use `www.ibm.com/cloud`.

[2019-06-10 05:48] jichenjc commented on #230
Thanks for the reminder.. the question is , do we have access to IBM cloud? I remember I tried before but doesn't work , anyone knows about it ?@xunpan @gyliu513

[2019-06-10 05:59] gyliu513 commented on #230
@jichenjc Can you help post a question to #sig-ibm-cloud and ask this?

[2019-06-10 06:01] jichenjc opened #231 "switch from cloud-init based scripts template to kubeadm API generated scripts"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

we are using a template (cloud-init) for kubeadm startup scripts now, this is easy but not that flexible, in the long run, we may consider to switch to https://github.com/kubernetes-sigs/cluster-api-provider-aws/tree/master/pkg/cloud/aws/services/kubeadm in order to make

[2019-06-10 06:01] jichenjc commented on #231
@gyliu513 @xunpan  FYI

[2019-06-10 15:01] dongwangdw commented on #229
I got another machine which can build it without any problem. Same os, same go version and same kubectl version.

[2019-06-11 05:41] #200 closed

[2019-06-11 06:06] wanghh2000 commented on #229
Seems environment issue.

[2019-06-11 09:48] #224 closed

[2019-06-12 01:19] wanghh2000 commented on #213
Close it and trace on https://github.com/kubernetes-sigs/cluster-api/issues/974

[2019-06-12 01:19] #213 closed

[2019-06-12 01:45] xunpan commented on #231
Could you help to explain a little more about what is it? And how it works?

[2019-06-12 01:51] xunpan commented on #229
Please close this ticket if it is not a `cluster-api-provider-ibmcloud` issue. @dongwangdw

[2019-06-12 02:06] jichenjc commented on #231
please refer to what aws did, seems they are using kubeadm library instead of just use template such as yaml to build kubeadm config file and scripts, I believe using the kubeadm library provides more flexiblity ,e.g when you do multi controller, options such as JoinConfigurationOption  will be helpful

during openstack summit someone ( not remember the name) also asked me about the same question

[2019-06-12 02:12] xunpan commented on #227
Did you try `kind delete cluster --name=clusterapi` manually in your container started by `clusterctl` image? It is used by `clusterctl` to delete kind cluster when there has issues during cluster creation.

[2019-06-12 02:14] xunpan commented on #216
@hwinkel  any information for sharing?

[2019-06-12 02:16] jichenjc opened #235 "Refactor ibm cloud provider use go module"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md
noticed this, should we follow this or keep using dep or take this a future action?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving th

[2019-06-12 02:53] xunpan commented on #235
I think keep consistent with cluster-api is fine.
`go module` should be future direction as it is official go dependecy management tool. However, currently, there is no painpoint for using `dep` in ibm cloud provider. When cluster-api switch its dependecy management tool. We can follow it up.

[2019-06-12 03:14] jichenjc commented on #235
ok, let's take this as future item

[2019-06-12 03:29] wanghh2000 commented on #144
I saw two ways for do not hard-coding `id_ibmcloud`.
1) Use variable like `IBM_CLOUD_SSH_KEY_NAME`  set by `generate-yaml.sh` in current shell, and get the `IBM_CLOUD_SSH_KEY_NAME` in deployer.go.
2) Setting ssh key name in file  `clouds.yaml` or `cluster.yaml`, then get it in deployer.go.

What do you think? @gyliu513 @xunpan @jichenjc

[2019-06-12 03:43] jichenjc commented on #144
use env seems overkill unless we really need to
clouds.yaml is for under cloud setting and cluster.yaml is for cluster setting
so maybe clouds.yaml fit more here due to cluster.yaml we might need follow cluster-api format?

[2019-06-12 09:33] wanghh2000 commented on #144
cluster.yaml is not a good place to save. SSH key file was just used by cmd cloudctl in local current shell to logon machine of SL, clouds.yaml was used by controller in bootstrap cluster to interact with SL and that needn't the ssh private file. It looks like shouldn't get it from bootstrapcluster and used in local.

[2019-06-13 01:12] hchenxa commented on #226
/assign @clyang82

[2019-06-13 07:20] #226 closed

[2019-06-14 05:24] jichenjc opened #240 "support taint in node creation"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api/issues/493

Taints are included in machine.spec, we can honor the Taint configuration as
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/116/files

**Anything else you would like to add:**
[Miscellaneous

[2019-06-14 05:24] jichenjc commented on #240
/assign

[2019-06-17 00:04] #164 closed

[2019-06-17 01:31] xunpan commented on #229
Please open it if it matters to you.

[2019-06-17 01:31] #229 closed

[2019-06-17 01:45] jichenjc opened #247 "dep: WARNING: revision "7c592eb" should not be in abbreviated form"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
dep ensure
dep: WARNING: revision "7c592eb" should not be in abbreviated form

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikub

[2019-06-17 01:45] jichenjc commented on #247
/assign

[2019-06-17 05:04] #247 closed

[2019-06-17 09:50] hchenxa commented on #227
or you may delete the containers which create by kind on your work node. execute below commands to find the container you created:
`docker ps -qa --no-trunc --filter "label=io.k8s.sigs.kind.cluster=<clustername>"`

[2019-06-18 01:45] clyang82 commented on #227
Thanks @xunpan @hchenxa for your solution. I think we may add the delete kind cluster before the job exists unexpectedly.

[2019-06-18 01:51] gyliu513 commented on #227
@clyang82 https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/249

FYI @songleo

[2019-06-18 02:12] #227 closed

[2019-06-18 02:27] hchenxa commented on #227
I prefer to open this issue and I think it's not prefer to install the kind of each of worker node and manually delete the cluster before create this yaml.

[2019-06-18 02:30] gyliu513 commented on #227
@hchenxa when upgrade cluster api, we will have random cluster name https://github.com/kubernetes-sigs/cluster-api/pull/984 , so there will not be such problem.

[2019-06-18 02:37] hchenxa commented on #227
@gyliu513 , so there have a new problem when using the random cluster name, if the job failed, we did not clean up the kind cluster, so there will have so many kind cluster created on the worker node.

[2019-06-18 02:43] gyliu513 commented on #227
@hchenxa , that's a question and you can open another issue to trace it.

[2019-06-18 02:48] hchenxa opened #252 "garbage kind cluster clean up when the job run failed"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

based on comments https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/227#issuecomment-502922139, if running job failed, the garbage kind cluster will not be cleaned up.

**Anything else you would like to add:**
[Misc

[2019-06-18 02:48] hchenxa commented on #252
cc @gyliu513 @clyang82

/assign @clyang82

[2019-06-18 06:28] gyliu513 opened #253 "generate-yaml failed, but out folder was generated"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I was using kubectl v1.11.0 and kustomize failed due to we request kubectl 1.14.0+, but after generate-yaml.sh failed, there are still some files generated under out folder.

[code]
[code]
[code]

**What did you expect to happen:**

I think we should not generate files if

[2019-06-18 06:40] jichenjc commented on #253
right, should we check kubectl version or clean up those files or both?

[2019-06-18 06:46] gyliu513 commented on #253
Yes, we should check kubectl version first, if kubectl version is not right, fail and return.

[2019-06-18 15:10] #240 closed

[2019-06-19 05:14] #144 closed

[2019-06-19 07:59] jichenjc commented on #87
https://github.com/kubernetes-sigs/cluster-api/pull/997/ is on the way
I think we need defer this to align with v1alpha2

[2019-06-21 04:09] gyliu513 commented on #235
cluster api is working for this https://github.com/kubernetes-sigs/cluster-api/pull/1054#issuecomment-504276869

[2019-06-21 07:49] gyliu513 commented on #253
@wangtjia

[2019-06-22 16:21] wangtjia commented on #253
The issue is fixed and passed test on local environment #255

[2019-06-23 06:47] #253 closed

[2019-06-23 07:29] jichenjc commented on #235
Thanks, I am looking at it and hopefully to replicate to here soon...

[2019-06-25 07:08] wanghh2000 opened #256 "Add test code of GO/Shell for custom SSH Key file"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add test code of GO/Shell for custom SSH Key file

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-27 00:09] jichenjc commented on #235
/assign

let me try this

[2019-06-27 00:10] jichenjc opened #258 "adopt cluster-api v1alpha2"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
kubernetes-sigs/cluster-api#997 introduced some design doc
about v1alpha2, we should start to think about how to enable it

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-06-28 02:08] jichenjc opened #260 "error log 'Guest does not contain full information.'"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
see this
[code]

need given detail info on what's missing or it's really hard to debug...

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api versio

[2019-06-28 02:10] jichenjc opened #261 "track issue happen after upgrade to lastest cluster-api"
/kind bug
/sig ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

after update to latest cluster-api, we will see following error in logs:
[code]

a couple of change might be needed, tracking here
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2019-06-30 11:05] #256 closed

[2019-07-01 01:55] jichenjc commented on #260
it turn out it's the `node` has issue but my node definition seems have all required info
[code]

[2019-07-01 04:14] jichenjc commented on #260
ok, the hourbillflag seems missing, will dig more to see whether we can add more info here...

[2019-07-02 00:47] jichenjc commented on #261
need wait for a while then we can see the node set....
need double check with cluster-api's behavior

[2019-07-05 01:38] jichenjc opened #267 "remove ssh need for master node"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
we are getting kubeconfig from master node using ssh now, this can't be used in some method such as reconcile cluster (cluster-api is using this method to get secret now)

like aws provider, we need figure out a way to know how to create kubeconfig based on the info from

[2019-07-05 05:30] jichenjc commented on #261
I am stuck here due to cluster-api now request to store test-secret while this is not easy to get without ssh...need further analysis to remove ssh first

[2019-07-17 15:51] spzala opened #269 "SIG IBMCloud is moving as a sub-project of Cloud Provider SIG"
/kind feature
/sig ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
All the current cloud provider sigs are moving as sub-projects of the SIG Cloud Provider. You can find the changes that are under review and mostly agreed upon here - https://github.com/kubernetes/community/pull/3895 Once this PR is merged, we need to rename SIG IBMCloud

[2019-07-18 00:24] gyliu513 commented on #269
Thanks @spzala , assign this to you for a PR. ;-)

[2019-07-18 01:43] jichenjc commented on #269
sorry, cluster-api is different to cloud-provider, I understand cloud-provider is in cloud-proivder SIG
and seems cluster-api doesn't belong to cloud-provider SIG as far as I can tell.....
@spzala

[2019-07-19 14:32] spzala commented on #269
LOL sounds good @gyliu513

[2019-07-19 14:41] spzala commented on #269
I agree about differences but at the same time all the projects from cloud providers are owned by their SIG. Like, cluster-api-provider-ibmcloud was created as a sub-project of IBM Cloud SIG. But there is a related ongoing discussion and we will make changes accordingly. For now, as in the PR I mentioned above you can see the following comment,
[code]
Thanks!

[2019-08-07 02:52] spzala commented on #269
@gyliu513 fyi, `sig/ibmcloud` label is now renamed to `area/provider/ibmcloud `

[2019-08-07 02:58] gyliu513 commented on #269
/area provider/ibmcloud

[2019-08-07 11:06] gyliu513 commented on #269
@spzala thanks for the info, do you know what kind of CLI that I should run if I want to add the label `area/provider/ibmcloud`, I was using `/sig ibmcloud` before.

[2019-08-07 14:43] spzala commented on #269
@gyliu513 hi, `/area provider/ibmcloud` should do it, can you please try it? Thanks!

[2019-08-08 08:05] gyliu513 opened #272 "Issue test"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-rele

[2019-08-08 08:05] gyliu513 commented on #272
/area provider/ibmcloud

[2019-08-08 08:05] #272 closed

[2019-08-09 06:33] #269 closed

[2019-08-11 23:13] gyliu513 commented on #5
/remove-lifecycle rotten

[2019-08-28 03:11] #205 closed

[2019-09-26 05:15] #15 closed

[2019-09-26 06:13] gyliu513 commented on #235
/remove-lifecycle stale

@jichenjc do you still have plan to work for this? I think we need to take this as priority now.

[2019-09-26 06:32] jichenjc commented on #235
@gyliu513 I am buried in some other stuffs recently, so unassign myself and let's see anyone can help on this, thanks for the reminder

[2019-09-26 07:10] gyliu513 commented on #235
/assign

Thanks @jichenjc for the heads up, let me check this.

[2019-10-08 20:29] noamran opened #279 "LeaderElectionID should be unique"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
This issue was reported in other providers - Running several Cluster API pods (e.g. CAPI + CABPK + an infra provider) in the same namespace results in leader election errors.
Additional details here - kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm#271

[2019-10-12 07:45] #146 closed

[2019-10-17 04:38] #155 closed

[2019-10-17 04:38] #73 closed

[2019-10-20 06:51] #20 closed

[2019-10-20 07:52] #162 closed

[2019-10-21 03:11] #166 closed

[2019-10-26 03:08] #199 closed

[2019-10-26 04:09] #196 closed

[2019-10-28 10:02] #86 closed

[2019-10-28 15:07] #207 closed

[2019-11-03 03:15] #167 closed

[2019-11-03 16:29] #161 closed

[2019-11-07 07:53] #230 closed

[2019-11-09 03:36] #231 closed

[2019-11-09 04:37] #216 closed

[2019-11-10 05:01] #212 closed

[2019-11-14 06:39] gyliu513 opened #282 "Build failed on POWER and Z"
Please refer to https://travis-ci.org/kubernetes-sigs/cluster-api-provider-ibmcloud/jobs/611324937?utm_medium=notification&utm_source=github_status for POWER and https://travis-ci.org/kubernetes-sigs/cluster-api-provider-ibmcloud/jobs/611324938?utm_medium=notification&utm_source=github_status for Z

[code]

[2019-11-15 04:57] #252 closed

[2019-11-16 10:26] #87 closed

[2019-11-24 02:25] #258 closed

[2019-11-28 06:03] #260 closed

[2019-11-28 08:32] gyliu513 commented on #5
/remove-lifecycle stale

[2019-11-28 08:33] gyliu513 opened #284 "upgrade cluster-api to use v1alpha3 API"
@songleo

[2019-11-28 08:33] gyliu513 commented on #279
@songleo

[2019-11-28 08:41] jichenjc commented on #279
FYI: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/478

[2019-11-28 13:59] #235 closed

[2019-11-29 07:51] #279 closed

[2019-12-02 03:35] #267 closed

[2019-12-02 07:39] #261 closed

[2019-12-21 20:13] posix4e opened #286 "gernate-yaml seems broke"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]

**What did you expect to happen:**
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Fixed it by going back to 66ae8f6f77291c7753d9ab8c0d4361612547eaf0

**Environment:** Linux

[2019-12-21 21:29] posix4e opened #287 "Failed to create simple cluster"
` clusterctl create cluster --bootstrap-cluster-kubeconfig ~/.kube/config --provider ibmcloud -c examples/ibmcloud/out/cluster.yaml -m examples/ibmcloud/out/machines.yaml -p examples/ibmcloud/out/provider-components.yaml`
Gotstuck running  Executing command "ssh -i /home/posix4e/.ssh/id_ibmcloud -o StrictHostKey
Checking=no -o UserKnownHostsFile=/dev/null -o BatchMode=yes root@169.45.105.18 echo S

[2019-12-23 00:28] xunpan commented on #286
/assign  songleo

[2019-12-23 00:30] xunpan commented on #286
@songleo
please help to fix it. It seems introduced by PR#283.

[2019-12-24 01:24] songleo opened #288 "[doc] update readme due to softlayer migration to ibm cloud"

[2019-12-27 07:58] songleo commented on #286
@xunpan fixed in PR #289

[2019-12-31 02:25] #286 closed

[2020-01-02 05:54] gyliu513 commented on #287
/assign @xunpan

[2020-01-02 07:17] xunpan commented on #287
@posix4e , I tried latest code. It is fine in my environment to create a K8s cluster on ibm cloud.
For `clusterctl`, it tries to access file on k8s master node created by cluster api. It is a periodic checking. So, it needs time to wait until host provisioned with k8s master deployed.

Could you please add more information if it is still an issue?
1. please show me image name or build steps for ib

[2020-01-09 09:09] gyliu513 commented on #284
@huxiaoliang

[2020-01-09 09:20] huxiaoliang commented on #284
@gyliu513  it is better to upgrade to latest version which include v1alpha3 support.

[2020-04-11 13:45] geosmart commented on #187
[code]

[2020-04-12 08:12] #282 closed

[2020-04-26 10:41] #5 closed

[2020-05-22 03:46] #288 closed

[2020-05-31 09:22] #287 closed

[2020-06-07 15:11] #284 closed

[2020-08-06 06:07] xunpan opened #296 "upgrade cluster-api to 0.3.8"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-08-06 06:11] jichenjc commented on #296
@xunpan this need move to cluster-api v1alpha3 , a big change ahead :)

[2021-01-03 07:59] #296 closed

[2021-01-14 06:47] gyliu513 opened #297 "IBM VPC Cloud Support Design"
/kind feature
/area provider/ibmcloud

@wentao-zh we need a design document for IBM VPC Cloud design.

[2021-01-23 18:56] mkumatag opened #299 "PowerVS support"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
This task is to add the support for IBMCloud PowerVS, includes following items:

1. Image preparation - https://image-builder.sigs.k8s.io/capi/capi.html
2. Design and implementation(code)

**References:**
API Doc: https://cloud.ibm.com/apidocs/power-cloud
Go Client: https://github.com/IBM-Cloud/power-go-client
IBM Cloud ca

[2021-01-25 01:07] jichenjc commented on #299
I heard PowerVS comes from PowerVC, not sure it's true of not
so will powervs shares same API to IBM Cloud or PowerVC?

[2021-01-25 02:02] wentao-zh opened #300 "Setup CI test for IBM VPC gen2 implementation"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
There is no CI test for IBM Cloud VPC gen2 implementation. We need to add test case to cover it.

**Anything else you would like to add:**
none

[2021-01-25 04:50] mkumatag commented on #299
We can use the IBM Cloud APIs for accessing the PowerVS, here is the documentation - https://cloud.ibm.com/apidocs/power-cloud, and SDK - https://github.com/IBM-Cloud/power-go-client

[2021-01-25 08:50] jichenjc commented on #299
thanks for the info~

[2021-01-27 23:25] wentao-zh commented on #300
The current ProwJob definition is out of date. I have updated presubmit for cluster-api-provider-ibmcloud and submited a PR.
https://github.com/kubernetes/test-infra/pull/20625

And added ci related script under https://github.com/wentao-zh/cluster-api-provider-ibmcloud/tree/ibmvpccloud/scripts
@jichenjc @gyliu513

[2021-01-28 01:11] jichenjc commented on #300
seems some error occured https://github.com/kubernetes/test-infra/pull/20625
once all error fixed, we can merge and move forward.. thanks :)

[2021-01-29 02:51] wentao-zh opened #301 "Add design doc for VPC implementation"
/kind feature
/area provider/ibmcloud

We need to add design doc for current VPC gen2 implementation

[2021-01-29 02:57] wentao-zh opened #302 "Design for general ibm cloud infrastructure against specific IaaS type"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
In IBM Cloud we have different types of Iaas, VPC gen2, PowerVS, Z etc.
We should make sure this provider can cover different IBM Cloud IaaS respecting the same pattern rather than many specific implementations.

[2021-01-29 02:58] wentao-zh commented on #301
/kind feature
/area provider/ibmcloud

[2021-01-29 03:05] wentao-zh opened #303 "high version of kubeadm api is not applicable in cluster-api"
/kind bug
/area provider/ibmcloud

kubeadm bootstrap provider in cluster-api is using kubeadm.k8s.io/v1beta1
So that means high version of kubeadm can’t work correctly. Because it will report that configuration file uses a deprecated API spec and require to use kubeadm config migrate to translate from kubeadm.k8s.io/v1beta1 to kubeadm.k8s.io/v1beta2.
**What steps did you take and what happened:**

[2021-01-29 03:12] wentao-zh opened #304 "cluster-api can not get node by ProviderID"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**

[code]

capi-controller-manager reported the error above. And machine PHASE stuck at Provisioning. The status of machine like the following.

[code]

**What did you expect to happen:**
Machine status should be ready.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2021-01-29 03:14] wentao-zh opened #305 "Specified --control-plane-machine-count=3 but only one master node was created"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
The rendered yaml show that the replicas of KubeadmControlPlane is 3. But only 1 machine and 1 ibmvpcmachine were created.

**What did you expect to happen:**
3 Machines should be created for k8s master

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Env

[2021-01-29 03:15] wentao-zh opened #306 "The current customized image only support k8s v1.14.3"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Need to provide more customized images to support different k8s versions and make it public accessable.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-29 09:30] jichenjc commented on #304
openstack use openstack:///uuid while the uuid is from VM (nova)
If IBM CLoud has uuid, we should be good enough to utiltze that

[2021-01-29 09:32] jichenjc commented on #303
have you reported this to `cluster-api` project for further comments?
looks like this is general item for all cluster-api projects

[2021-01-29 09:34] jichenjc commented on #306
you might want to check https://github.com/kubernetes-sigs/image-builder

[2021-01-29 09:35] jichenjc commented on #305
do you create Loadbanalcer ? otherwise how to create 3 masters?

[2021-01-29 09:36] jichenjc commented on #302
I am interested in Z part :)
involve me for further discussion on this , I can't contribute too much but hopefully part of

[2021-01-29 09:36] jichenjc commented on #301
yes, I am interested in this :)

[2021-02-03 02:48] jichenjc commented on #303
https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/types/v1beta2/types.go
is v1beta2

so you might want to upgrade from there ..

[2021-02-08 15:28] spzala opened #307 "Doc on using the repo with different environments"
/kind documentation
/kind feature
/area provider/ibmcloud

We have recently started work on enabling support for IBM VPC gen2 and PowerVS (WIP). We need a documentation/set of instructions showing how to use the repo with general/classic vs VPC gen2 vs PowerVS (placeholder for now) environment. This will provide an easy commensurability and testing for the repo.

[2021-02-26 06:54] emmayang commented on #303
/assign

[2021-03-03 04:02] emmayang opened #308 "PGW, FIP and subnet cannot be reconciled during deletion"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
When tried to delete a ibmvpccluster with a `kubectl delete -f cluster.yaml`, it will hang and controller reports a lot error says:
[code]
And to work this around, need to go to IBM cloud console, manually delete previously generated publicgateway, floatingip, and subnet, then the delete can proceed and delete vpc ev

[2021-03-09 07:23] emmayang commented on #308
/assign

[2021-03-12 05:54] amycuicui opened #312 "Deploy ibmcloud controller failed"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Run the command: make deploy
Error1:
The Service "cluster-api-provider-ibmvpccloud-controller-manager-metrics-service" is invalid: metadata.name: Invalid value: "cluster-api-provider-ibmvpccloud-controller-manager-metrics-service": must be no more than 63 characte

[2021-03-16 08:01] amycuicui commented on #305
Error log in pod capi-kubeadm-control-plane-controller-manager:
I0316 08:00:32.885106       1 controller.go:355] controllers/KubeadmControlPlane "msg"="Scaling up control plane" "cluster"="ibm-vpc-1" "kubeadmControlPlane"="ibm-vpc-1-control-plane" "namespace"="default" "Desired"=3 "Existing"=1
I0316 08:00:32.885249       1 scale.go:206] controllers/KubeadmControlPlane "msg"="Waiting for control pl

[2021-03-23 06:18] jichenjc commented on #305
looks like
[code]

have you login 2nd and 3rd master to check what happened there?

[2021-03-24 09:08] #312 closed

[2021-03-30 21:51] clnperez commented on #299
Should this be cluster-api-provider-powervs though? The plan isn't to encompass all of IBM Cloud, but to use the Power VS provisioning features provided by the IBM Cloud APIs, IIUC. Maybe not to quibble over just the name, but, get clarity on intent/focus.

[2021-03-31 01:28] jichenjc commented on #299
@clnperez maybe you can check
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/314

[2021-03-31 17:26] emmayang commented on #303
This issue is fixed by PR https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/309 and can be closed.

[2021-04-01 14:24] clnperez commented on #299
Actually @jichenjc, @mkumatag cleared this up for me. IIUC, this issue is a request to get support for _Power VS_ added into `cluster-api-provider-ibmcloud`. But thanks!

[2021-04-19 01:32] #308 closed

[2021-04-20 08:25] amycuicui commented on #305
I added the conditions to controlplane controller, but it does not work.
From the cluster-api source code, seems the conditions are not directly added by our code.

[2021-04-23 03:42] #303 closed

[2021-04-29 13:53] spzala commented on #302
/remove-lifecycle stale

[2021-04-29 13:53] spzala commented on #301
/remove-lifecycle stale

[2021-04-29 13:54] spzala commented on #304
/remove-lifecycle stale

[2021-05-06 15:01] srcarrier opened #317 "Add greater detail in README for getting a workload cluster provisioned in IBM Cloud VPC2"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
I'd like to see greater detail / instructions for provisioning a workload cluster in IBM Cloud VPC2.
I recently went through this process and there were some key pieces of information missing from the current README.
I've documented the steps that I took in greater detail and will be opening a PR shortly to contribute that

[2021-05-06 15:43] srcarrier opened #319 "Cluster Subnet CIDR only defined for us-south zones 1-2-3"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
CIDR values for subnet creation are hard-coded for us-south zones 1-2-3 only, thus if a user attempts to use a different region (e.g. `us-east`), subnet provisioning fails.

https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/ff3075371756d25c47fd640789bc4db1b9895687/cloud/scope/cluster.go#L198-L205

[2021-05-08 01:33] #317 closed

[2021-05-11 07:57] emmayang commented on #319
/assign

[2021-05-11 08:07] xinhuang-1 commented on #305
/assign  amycuicui

[2021-05-14 10:44] gyliu513 commented on #297
Fixed by https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/314

[2021-05-14 10:44] #297 closed

[2021-05-24 09:46] jichenjc opened #320 "Add IBM Cloud into provider list of capi"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/client/config/providers_client.go#L34

need add ibmcloud into here.. tracking

Provider contract:
https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html

**Anything else you wo

[2021-05-24 09:47] jichenjc opened #321 "replace `make go` in README to use manifest (config/manager/manager.yaml)"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-05-26 22:03] diegocn opened #323 "Failed to start service controller: WARNING: no cloud provider provided, services of type LoadBalancer will fail"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
After successfully started a Kubernetes cluster using cluster-api-provider-ibmcloud I've tried to create a `Service` of type `LoadBalancer` to expose a simple nginx `Deployment`. But I got this `Service` in the pending state.

Looking at the logs (kubectl cluster-info dump) I got this message related to LoadBalancers

[2021-06-27 02:50] #300 closed

[2021-06-30 15:31] spzala commented on #299
/remove-lifecycle stale

[2021-06-30 15:36] mkumatag commented on #299
/remove-lifecycle stale

[2021-07-06 08:59] dongwangdw opened #325 "Fail to deploy cluste with latest capi."
I just use the latest cluster api to deploy cluste against ibmcloud.
But the cluster is pending:
[code]

As I found from the log of capi-system pod I got
[code]

[2021-07-08 17:26] #307 closed

[2021-07-09 06:56] dongwangdw commented on #325
As I found the process in the readme is for api of cluster-api  "cluster.x-k8s.io/v1alpha3".
But the latest version is v1alpha4. So I think this shoud be updated.

[2021-07-09 07:01] jichenjc commented on #325
yes, I assume use latest cluster-api + v1alpha3 provider might have some problem
maybe you can try cluster-0.3.x version

[2021-07-28 15:15] gyliu513 commented on #301
design is at https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/ibmvpccloud/docs/proposal/architecture_for_diff_iaas.md

[2021-07-28 15:15] #301 closed

[2021-08-12 02:15] mkumatag commented on #325
try the recent code now, we have pushed v1alpha4 apis

[2021-08-12 02:16] mkumatag opened #328 "Report unit tests properly in the prow dashboards"
Tests aren't populated properly in the prow dashboard, need to be fixed.

Sample test report: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-ibmcloud/327/pull-cluster-api-provider-ibmcloud-test/1425618612315492352

[2021-08-12 02:18] mkumatag opened #329 "Conversion logic from v1alpha3 to v1alpha4"
with recent code merge code works with the v1alpha4 version, need to explore supporting conversion logic for conversion

Ref: https://kubebuilder.io/multiversion-tutorial/tutorial.html

[2021-08-12 16:20] wentao-zh commented on #321
I believe the latest README has removed `make go`?

[2021-08-13 01:18] mkumatag opened #332 "Build and push controller image post-merge"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**

This PR is for building/pushing image via k8s build process, more info - https://github.com/kubernetes/test-infra/blob/c5f5b3155733140e6cbd83185862df85935c0f1c/config/jobs/image-pushing/README.md

**Tasks:**

- [x] Staging repo - https://github.com/kubernetes/k8s.io/pull/2640
- [x] Makefile changes for multi-arch - https:

[2021-08-20 07:59] #299 closed

[2021-08-23 03:49] spzala commented on #320
/remove-lifecycle stale

[2021-08-31 04:48] mkumatag commented on #332
/assign

[2021-09-08 05:48] mkumatag commented on #332
All the required PRs got merged, will close the issue after the test run.

[2021-09-08 05:49] mkumatag commented on #325
I'm closing the issue for now, lets open a new issue if there are still issues.
/close

[2021-09-08 05:49] #325 closed

[2021-09-08 05:50] mkumatag commented on #319
/remove-lifecycle stale

[2021-09-08 05:51] mkumatag commented on #319
@emmayang any new updates on this? are you still working on this issue?

[2021-09-08 06:14] mkumatag commented on #332
Now we have the image built and pushed via prow CI/CD,

[code]

Prow log: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-ibmcloud-push-images/1435482876136132608

[2021-09-08 06:14] #332 closed

[2021-09-08 06:17] mkumatag opened #338 "Fix the golint issues"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Currently we are 42% per golint report per - https://goreportcard.com/report/github.com/kubernetes-sigs/cluster-api-provider-ibmcloud#golint, this issue is to fix or improve that number

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2021-09-13 08:45] mkumatag commented on #328
@Amulyam24 can you look at this issue?

[2021-09-13 10:34] mkumatag commented on #328
e.g: This is the prow dashboard for a k/k repo listing the pass, failed, skipped: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/104877/pull-kubernetes-unit/1437329466215895040, and can compare the [prow job](https://prow.k8s.io/prowjob?prowjob=fa1bcc9a-146a-11ec-90fb-5e868ae3e203) written for that job vs this project's [prow job](https://github.com/kubernetes/test-infra/blob/2cfaba6e

[2021-09-20 04:54] #306 closed

[2021-09-20 13:38] #328 closed

[2021-09-24 05:03] mkumatag opened #342 "Create a dedicated slack channel"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Create a slack channel in the k8s slack for this project.

[2021-09-24 05:03] mkumatag commented on #342
/assign

[2021-09-24 05:04] mkumatag commented on #342
Created PR: https://github.com/kubernetes/community/pull/6054
Created an issue: https://github.com/kubernetes/community/issues/6053

[2021-09-24 15:49] mkumatag commented on #342
Here is the link for the slack channel - https://kubernetes.slack.com/messages/cluster-api-ibmcloud/

[2021-09-26 16:05] #304 closed

[2021-09-27 06:58] mkumatag opened #343 "Delete the stale branches"
/kind cleanup
/area provider/ibmcloud

Currently, I see the following [stale branches](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/branches) in the repository which are just behind the main branch

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/12646029/134859262-acff3a01-74da-4fde-8e0d-166a872c5f4b.png">

Let me know if we can delete them @gyliu5

[2021-09-27 06:58] mkumatag commented on #343
/assign

[2021-09-27 07:01] gyliu513 commented on #343
Thanks @mkumatag for raising this, yes, we need to consolidate the branches now.

- I think we need to keep the `master` branch until we enabled the SoftLayer support in `main` branch, but want to get some comment from @mkumatag for what is the priority of SoftLayer now for IBM Cloud?
- For `ibmcloud`, need to wait until @wentao-zh move all of the code from `ibmcloud` to `main` branch, then we can

[2021-09-27 07:16] mkumatag commented on #343
I see most of the deployment and development is happing in the vpc gen2 and with all the advanced features like application lb etc, for me, it makes more sense to focus development on vpc gen2 instead of burning a lot of energy for classic. Having that said, I'm wondering if we can rename this branch to `release-0.0.x` to work with the classic code for better manageability.

We already have all th

[2021-09-27 08:54] mkumatag commented on #319
I see an API here for getting the address prefix for all the zones - https://cloud.ibm.com/apidocs/vpc#list-vpc-address-prefixes, can be used to filter the subnet based on the zone mentioned.

[2021-10-08 11:11] #305 closed

[2021-10-10 16:15] emmayang commented on #319
Yes, this API would do the work, will add this one call before creating subnet, and then use the retrieved CIDR prefix.

So sorry for the late response, met some problems with my dev environment, and working on fixing it...

[2021-10-13 00:55] mkumatag commented on #319
Is something got deprecated? Please add the TODO so that we fix that when it rolled out to the production.

[2021-10-13 10:30] emmayang opened #345 "Error reported when try to create ibmvpcmachine, with `invalid json payload provided error`"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Bootstrap the cluster as described doc, and then error will be reported in the step of creating a VPC VSI in test.cloud.ibm.com, with below error returned:

[code]

**What did you expect to happen:**
VSI should be created without any error

**Anything else you would like to add:**
[Miscellaneous information that will

[2021-10-13 10:31] emmayang commented on #319
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/345 has been opened to track the version change issue.

[2021-10-14 08:05] mkumatag opened #346 "doc for the project"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Need to have better documentation like other capi projects, e.g: https://cluster-api.sigs.k8s.io/user/quick-start.html, cluster-api-aws.sigs.k8s.io/

xref: https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md#subproject-domain-request

- [x] Add books skeleton - https://github.c

[2021-10-14 08:09] mkumatag commented on #343
done, here are branches after the change:

![image](https://user-images.githubusercontent.com/12646029/137277287-210670a2-49dd-405e-9411-31d2d0c4de0f.png)

[2021-10-14 13:57] mkumatag opened #347 "Update the go modules"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Update the following modules which are not outdated

github.com/dgrijalva/jwt-go
github.com/IBM/go-sdk-core v1.1.0

[2021-10-15 00:18] #347 closed, assigned to nobody

[2021-10-15 01:22] mkumatag opened #349 "Rename go mod to sigs.k8s.io/*"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
Rename go mod to sigs.k8s.io/*, this is to match rest of the world.

[2021-10-15 01:22] mkumatag commented on #349
/assign

[2021-10-15 01:28] #349 closed

[2021-10-15 06:17] mkumatag opened #351 "Enhance the tooling, linting"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Enhance the tooling, linting for the project.

**Anything else you would like to add:**
Reuse the tools from the other project like https://github.com/kubernetes-sigs/cluster-api

- [x] #352
- [x] #354
- [x] #357

[2021-10-15 06:18] mkumatag opened #352 "Use tools from the cluster-api project"
Use the hack folder from the cluster-api project.

[2021-10-15 07:02] #352 closed

[2021-10-15 11:40] mkumatag opened #354 "Add verify"
- Add verify to the makefile
- Add verify ci script
- Fix the copyright headers

[2021-10-15 12:11] mkumatag opened #356 "flaky golangci-lint in the CI"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
seen golangci-lint is flaking in the CI, e.g: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-ibmcloud/355/pull-cluster-api-provider-ibmcloud-test/1448978218232057856

**What did you expect to happen:**
shouldn't flake

**Anything else you would like to add:**
test is

[2021-10-15 12:30] mkumatag commented on #356
/assign @Rajalakshmi-Girish see if you can fix this.

[2021-10-15 14:34] #354 closed, assigned to mkumatag

[2021-10-15 17:29] mkumatag opened #357 "Prow job for verify"
Prow job for running `make verify` as presubmit job

[2021-10-16 02:01] #357 closed

[2021-10-16 02:40] #351 closed, assigned to mkumatag

[2021-10-16 06:04] mkumatag opened #358 "Update to cluster-api v1.0.0"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
cluster-api project recently [released v1.0.0](https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.0.0), this feature is to adopt cluster-api v1.0.0

**Anything else you would like to add:**
Migration guide - https://cluster-api.sigs.k8s.io/developer/providers/v1alpha4-to-v1beta1.html

[2021-10-16 06:09] mkumatag opened #359 "Document the compatibility metrics"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
e.g: AWS metrics https://github.com/kubernetes-sigs/cluster-api-provider-aws#compatibility-with-cluster-api-and-kubernetes-versions

[2021-10-16 06:20] mkumatag opened #360 "Enhance the config files to use the staging image"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
This task is for fixing the files under /config directory for overriding the container image etc..

[2021-10-16 06:23] mkumatag commented on #323
/remove-lifecycle rotten

[2021-10-16 06:25] mkumatag commented on #323
Usually the external LB service will work if the cloud-control-manager which is not handled via this repo, but still keeping this open to see how the integration can be done.

[2021-10-16 06:30] mkumatag opened #361 "Support titl based dev environment"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Support titl based dev environment, refer the other project which is already using it - https://cluster-api.sigs.k8s.io/developer/tilt.html

[2021-10-18 04:23] mkumatag opened #363 "cleanup the OWNERS file"
/kind cleanup
/area provider/ibmcloud

**What steps did you take and what happened:**
cleanup the [OWNERS](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/main/OWNERS) file

[2021-10-18 04:25] mkumatag commented on #363
if we remove any default approvers from the PR, it is randomly assigning the people who aren't working on this project, so need to cleanup this file to tag right set of folks.

[2021-10-18 05:27] #363 closed, assigned to mkumatag

[2021-10-18 05:29] mkumatag opened #365 "Use the 1.21 kubekins-e2e image instead of master"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
In the [prow config](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml ) `gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master` is used but this project is still used 1.21 version, hence the prow

[2021-10-18 05:38] Amulyam24 commented on #356
+1 for using `.golangci.yml`. It would give us a defined control over linting.

[2021-10-18 06:55] mkumatag opened #366 "Enhance the code to use the API key from the secret"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Enhance the controller to use the API Key from the secret
- [x] Adopt the authenticator
- [x] Enhance the deployment yaml to read the API key from the secret

[2021-10-18 07:29] #356 closed, assigned to Rajalakshmi-Girish

[2021-10-18 07:30] mkumatag opened #368 "Enhance the Golang linting"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Recently `.golangci.yml` got added via https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/367 with timeout added, need more checks added into the linting, refer https://github.com/kubernetes-sigs/cluster-api/blob/main/.golangci.yml file.

**Anything else you would like to add:**
[Miscellaneous informatio

[2021-10-19 04:57] #365 closed, assigned to Rajalakshmi-Girish

[2021-10-19 11:38] mkumatag opened #370 "Remove reference of dgrijalva/jwt-go package"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
https://github.com/dgrijalva/jwt-go is deprecated and should be removed from the dependencies

[2021-10-19 11:45] mkumatag opened #372 "Setup a community meeting"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Setup a community meeting for the project

- [x] Create calender invite
- [x] Create a google doc for MoM
- [x] Update the repo with meeting information via - https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/374
- [x] Update k8s repos with the meeting link - https://github.com/kubernetes/community/pull

[2021-10-20 06:07] mkumatag opened #373 "Enhance the readme file"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Enhance the readme doc with more information like slack, meeting information etc..
Include a link for the Code of Conduct as well.

[2021-10-20 11:45] #373 closed, assigned to mkumatag

[2021-10-22 04:29] mkumatag opened #375 "Adopt Dependabot for updating the dependencies"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Adopt Dependabot for updating the dependencies like dockerfile, go.mod

[2021-10-22 04:31] mkumatag opened #376 "Code refactoring of clients for better mocking"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently, it's difficult to mock the IBM cloud clients for better unit test coverage, this task is for refactoring the existing code into more module ways.

[2021-10-25 08:38] mkumatag opened #391 "Remove deps of github.com/prometheus/common"
/kind bug
/kind cleanup
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
Remove reference of github.com/prometheus/common from https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/b89f2b933dddbddf4a0bf5c3d845d02aa1278581/controllers/ibmvpcmachine_controller.go#L26

This

[2021-10-25 12:16] #391 closed, assigned to mkumatag

[2021-10-27 05:10] mkumatag opened #400 "unknown field name while deploying powervs template"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**

Tried the steps mentioned here in the [readme](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/tree/main/templates#power-vs) is not working fine

[code]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the is

[2021-10-27 05:53] #400 closed, assigned to mkumatag

[2021-10-29 05:42] #366 closed, assigned to mkumatag

[2021-10-29 07:05] mkumatag opened #407 "Create a new alpha release - v0.1.0-alpha.1"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**

- [x] Publish a new release - created a new release here - https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/releases/tag/v0.1.0-alpha.1
- [x] Attach release artifacts

[2021-11-02 06:16] #361 closed

[2021-11-02 17:01] #407 closed, assigned to mkumatag

[2021-11-08 09:42] mkumatag opened #410 "Release process"
This issue it for introducing some release process

- [x] Scripts/makefile - #411
- [ ] documentation

[2021-11-08 14:42] mkumatag commented on #410
Reopened to fix the doc

[2021-11-09 14:01] mkumatag commented on #338
/assign @karthik-k-n

[2021-11-09 15:23] #338 closed

[2021-11-11 18:40] #320 closed

[2021-11-12 04:02] emmayang commented on #345
/assign

[2021-11-12 04:03] mkumatag commented on #329
no one is using it, we can close it.

[2021-11-12 04:03] #329 closed

[2021-11-15 15:10] Karthik-K-N opened #418 "Improve code linting"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Currently the golint score is at 92%, https://goreportcard.com/report/sigs.k8s.io/cluster-api-provider-ibmcloud.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Env

[2021-11-15 15:52] #418 closed

[2021-11-16 07:10] mkumatag opened #421 "Clean up the code from the hack directory"
/kind cleanup
/area provider/ibmcloud

**What steps did you take and what happened:**
Lot of code in the hack repo is not really needed, lets cleanup the code which is not really required.

[2021-11-19 06:59] mkumatag opened #425 "Doc for image building"
Image building process needs to be documented

- [x] Upstream changes needed in the image-builder - https://github.com/kubernetes-sigs/image-builder/pull/739, https://github.com/kubernetes-sigs/image-builder/pull/758
- [x] Add support into image-builder - https://github.com/kubernetes-sigs/image-builder/pull/860
- [ ] Add docs

[2021-11-19 15:12] #421 closed

[2021-11-22 08:24] mkumatag opened #431 "Allow user to mention both image/network name/id for PowerVS provider"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**

Currently, the user can specify only the image/network id and not the name,

e.g: current format:

[code]

PowerVS do accept the name as well for the network/image in the rest apis, so enhancing the spec to speficy both as optional witll be a better solution for the better user experience

Proposal:
[code]
https://github.

[2021-11-22 08:25] mkumatag commented on #431
/assign @Prajyot-Parab

[2021-11-22 09:12] mkumatag opened #432 "Use clusterctl generate cluster command"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently `clusterctl config cluster` is used in the template [readme](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/tree/main/templates) doc, which is deprecated and throws the following message while parsing the template:

[code]

Needs to be replaced with the `clusterctl generate cluster` command

**A

[2021-11-22 09:13] mkumatag commented on #432
cc @Prajyot-Parab

[2021-11-22 09:27] mkumatag opened #433 "e2e tests"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Explore e2e tests to add test coverage on the deployed cluster, need to make sure we support all the possible supported combinations of flavors we support

- [x] explore the framework - #490
- [ ] explore the testcases

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issu

[2021-11-22 09:29] mkumatag opened #434 "Introduce the webhook"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently project doesn't have the webhook for the validation/mutating the calls, need to explore the webhook and add some basic validation for the spec.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-11-30 09:32] #432 closed

[2021-12-01 02:15] #431 closed

[2021-12-01 13:37] mkumatag opened #446 "Create branch release-0.1"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Create a branch for v1alpha* version of apis : `release-0.1` after that main branch will have v1beta1 apis

[2021-12-01 13:40] mkumatag commented on #446
done, created a new branch hence closing this issue.

[2021-12-01 13:40] #446 closed

[2021-12-03 03:46] mkumatag opened #448 "Update code changes to adopt power-go-client 1.0.79 or later"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-03 03:59] mkumatag opened #449 "IBM Cloud provider integration"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Explore external cloud provider integration for node control and service load balancer, currently code exist here for the IBM cloud provider - https://github.com/IBM-Cloud/cloud-provider-ibm

**Anything else you would like to add:**

[2021-12-03 03:59] mkumatag commented on #449
cc @Karthik-K-N

[2021-12-03 05:17] mkumatag commented on #449
/assign @Karthik-K-N

[2021-12-03 05:18] mkumatag commented on #448
cc @Amulyam24 ptal

[2021-12-06 11:06] mkumatag opened #451 "Support watching particular namespace"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Rightnow provider doesn't support namespace level watch, hence this work item is to limit the watch scope to the mentioned namespace.

e.g: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3e61428d885f2eaeab1a7dffc4d17270a20c6675/main.go#L155

[2021-12-06 12:00] mkumatag commented on #346
Got few more items need to land in the k8s infra, hence reopening.

[2021-12-07 03:53] mkumatag opened #453 "cherrypick is not working"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
`/cherrypick` command is not working for the repo, need to check if any additional configuration needs to be made in the test-infra repository

e.g: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/452#issuecomment-987493759

[2021-12-07 03:53] mkumatag commented on #453
/assign @Rajalakshmi-Girish

[2021-12-07 06:43] Rajalakshmi-Girish commented on #453
@mkumatag Looks like we need to add ` cluster-api-provider-ibmcloud` with cherrypicker details to the list of external_plugins.
Like https://github.com/kubernetes/test-infra/blob/master/config/prow/plugins.yaml#L1235:L1240
Shall submit a PR for it.

[2021-12-07 06:51] mkumatag commented on #453
lets do that!

[2021-12-07 07:48] mkumatag commented on #451
This feature is needed for the hypershift project where multiple controllers are expected to run in a given cluster in different namespaces

[2021-12-07 13:42] #453 closed

[2021-12-07 14:13] mkumatag commented on #453
Thanks @Rajalakshmi-Girish for a quick fix, it is working fine now 🎉

[2021-12-07 14:17] mkumatag opened #457 "Use klog/v2/klogr for logging"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
The rest of the world is using the klogr for logging, this is to keep in sync with other providers for better logging control.

[2021-12-07 22:54] k8s-triage-robot opened #458 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:27] justaugustus commented on #458
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:27] #458 closed

[2021-12-08 05:03] #451 closed

[2021-12-08 05:05] mkumatag opened #463 "Add support for the readyz, healthz"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently, the controller doesn't support readyz and healthz for the overall health checkup, this is needed for the production deployment for health checkup for the controller.

**Anything else you would like to add:**
xref from the other provider: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/3e61428d88

[2021-12-08 05:33] mkumatag opened #464 "Post run job from release-0.1 branch"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Haven't see image built/pushed for the postsubmit job on the release-0.1 branch and see if any prow job config needs to be added for that.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/assign @Rajalakshmi-Girish

[2021-12-08 06:13] mkumatag commented on #464
It did run via this [here](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-ibmcloud-push-images/1468221772821172224) but the tag of the image was wrong I feel

[2021-12-08 07:49] #448 closed

[2021-12-08 22:55] k8s-triage-robot opened #470 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 01:22] mkumatag commented on #470
@justaugustus not sure why this issue keep creating..

[2021-12-09 03:03] justaugustus commented on #470
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:03] #470 closed

[2021-12-09 11:49] mkumatag opened #474 "New API/Resource to import the PowerVS Image"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
This task is for creating a new Resource/controller for importing the image into PowerVS Service Instance

**Anything else you would like to add:**
Need a detailed design document for this work.

[2021-12-10 05:34] mkumatag commented on #474
cc @Prajyot-Parab

[2021-12-10 06:23] mkumatag opened #477 "Use the authenticator for the power-go-cllient"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Use the authenticator merged in https://github.com/IBM-Cloud/power-go-client/pull/102 for the power client

**Anything else you would like to add:**
Needs a rigorous testing like running the controller for longer time(more than token expiry time) and ensure controller is not restarting and also ensure that refresh token ca

[2021-12-10 06:27] mkumatag opened #478 "Make debug flag optional for the power client"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Rightnow debug flag is set always, which needs to be made optional and give better control to use via a flag or an environment variable.

ref: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/f55b82ea234616d1bb1b2f1871c0c481203152b8/cloud/scope/powervs_clients.go#L42

[2021-12-10 13:07] mkumatag opened #479 "Add conditions"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Rightnow if machine creation fails then there is no way to understand why it really failed, having conditions added into the controller will help understand what well right/wrong, other providers can be referred to understand how it is implemented.

package to be used: https://github.com/kubernetes-sigs/cluster-api/tree/ma

[2021-12-13 09:04] mkumatag commented on #346
Now doc is live at https://cluster-api-ibmcloud.sigs.k8s.io/, this issue can be closed now.

[2021-12-13 09:04] #346 closed

[2021-12-14 00:42] #457 closed

[2021-12-14 04:15] mkumatag opened #484 "Update power-go-client >= 1.0.85"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
dependabot is failing, need some code changes as well for this update, ptal: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/483 for errors

/cc @Amulyam24

[2021-12-14 04:15] mkumatag commented on #484
/assign @Amulyam24

[2021-12-14 07:06] #359 closed

[2021-12-14 10:07] #484 closed

[2021-12-15 09:33] mkumatag opened #491 "Create a separate prow config file for release-0.1 branch"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Move current [presubmit file](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml) for only release-0.1 branch and create a new one for main branch

**Anything else you would like to add:**

[2021-12-15 09:38] mkumatag commented on #358
delivered part of #445

[2021-12-15 09:38] #358 closed

[2021-12-15 10:55] mkumatag commented on #491
release-0.1: `gcr.io/k8s-staging-test-infra/kubekins-e2e: xxxxxxx-1.21`
main: `gcr.io/k8s-staging-test-infra/kubekins-e2e:xxxxxxx-1.23`

@Rajalakshmi-Girish image mapping ^^

[2021-12-16 06:01] #434 closed

[2021-12-16 09:57] #463 closed

[2021-12-16 11:24] mkumatag opened #493 "Test the clusterctl upgrade flow"
More information: https://cluster-api.sigs.k8s.io/clusterctl/commands/upgrade.html, lets the try the steps from `v1alpha4` to `v1beta1` version for the project.

[2021-12-17 10:28] #491 closed

[2021-12-24 07:59] Prajyot-Parab opened #497 "Introduce the webhook for IBMVPC resources"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently project doesn't have the IBMVPC resources related webhook for the validation/mutating the calls, need to explore the webhook and add some basic validation for the spec.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-27 05:32] mkumatag opened #499 "Explore suitable defaults for the vpc and powervs machines"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
This task is to explore and come up with bare minimum resources like memory, CPU for the vpc and powervs machine and set the same in the defaults method.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-12-27 05:35] #497 closed

[2022-01-07 03:43] mkumatag commented on #493
cc @Amulyam24

[2022-01-07 03:46] mkumatag commented on #499
cc @Prajyot-Parab

[2022-01-07 03:50] mkumatag commented on #433
cc @Amulyam24

[2022-01-07 03:55] mkumatag commented on #323
Will be taken care via #449

[2022-01-07 03:55] #323 closed

[2022-01-07 04:01] mkumatag opened #502 "Change the image versions to :1.23"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Change the image version here to 1.23 because soon master will point to 1.24 which is not we want atm https://github.com/kubernetes/test-infra/blob/c0207137f8639b79fa02ee0ef29aaea49c05a2bb/config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml#L21

/cc @Rajalakshmi-Giris

[2022-01-07 04:02] mkumatag commented on #502
/assign @Rajalakshmi-Girish

[2022-01-07 06:28] #502 closed

[2022-01-10 05:30] Prajyot-Parab commented on #474
[code]

[2022-01-10 06:41] mkumatag commented on #474
wondering if name can be used from the `IBMPowerVSImage.ObjectMeta.Name` directly

Don't have any plan for the private images as of now, may be we can remove this field and assume bucket is public

hope the default one is set in the webhook

[2022-01-10 09:49] #376 closed

[2022-01-10 12:47] mkumatag commented on #477
delivered part of #503

[2022-01-10 12:47] #477 closed

[2022-01-12 08:05] mkumatag commented on #479
This will be helpful for viewing the conditions via clusterctl like command

[2022-01-12 08:32] #479 closed

[2022-01-12 09:50] #433 closed

[2022-01-13 04:50] #478 closed

[2022-01-13 11:14] mkumatag opened #510 "Add an option to override the reconcile SyncPeriod"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently, syncPeriod is hardcoded and set as 15 seconds which is too little and causes the burden on the cloud, may also hit the rate limit, hence need a mechanism to override the value and set a decent value as default.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the i

[2022-01-13 16:28] #510 closed

[2022-01-15 03:50] mkumatag opened #514 "Update power-go-client to 1.1.0"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**

dependabot tried updating to the mentioned version via #513 but there are breaking changes that need manual intervention.

@dharaneeshvrd can you please take a look at it?

[2022-01-25 06:49] mkumatag opened #521 "SIGSEGV while creating machine scope"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
1. deploy a machine spec with following content:

[code]

error:
[code]

**What did you expect to happen:**
Instead of the above SEGV fault, it should throw a proper error message

**Anything else you would like to add:**
Not sure why webhook is not catching this error here?!

The following template can be used to ge

[2022-01-25 06:50] mkumatag commented on #521
cc @Prajyot-Parab ^^

[2022-01-25 08:00] mkumatag commented on #521
This happens when NewPowerVSMachineScope/NewPowerVSMachineScope fails before assigning the `patchHelper` object which is used in the [PatchObject](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/5be03f224066858ee12a6bf00409a348cf8d3196/cloud/scope/powervs_cluster.go#L140) function getting called for as [deferred](https://github.com/kubernetes-sigs/cluster-api-provider-ibmclou

[2022-01-25 08:09] mkumatag commented on #521
@Prajyot-Parab added the template used in the description comment

[2022-01-25 10:08] #521 closed

[2022-01-25 11:05] mkumatag opened #524 "Smoke test for PR test"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Let's add some smoke tests like deploying a kind cluster, deploy providers - capi, ibmcloud, and ensure controllers are running fine.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-01-25 11:05] mkumatag commented on #524
cc @Amulyam24

[2022-01-25 11:06] mkumatag commented on #514
closed via #517

[2022-01-25 11:06] #514 closed

[2022-01-29 14:22] mkumatag commented on #410
1. Create a tag and push
[code]

2. Wait for the google cloud build to be finished

[2022-02-03 07:13] #524 closed

[2022-02-03 07:51] #474 closed

[2022-02-03 07:59] mkumatag opened #531 "Update hack/tools/go.mod for the capi tools"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Update the hack/tools/go.mod with the 1.1.0 capi tools

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS

[2022-02-03 07:59] mkumatag commented on #531
cc @Amulyam24

[2022-02-03 08:01] mkumatag commented on #345
@wentao-zh can you check if this is still happing in the test vpc?

[2022-02-03 08:07] mkumatag opened #532 "Use the pkg/cloud/services for the vpc"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently VPC client is in https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/main/cloud/scope/clients.go, this needs to be moved to pkg/cloud/service to have mocking and better code maintenance.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-03 08:09] mkumatag opened #533 "Add instrumentation"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Explore Prometheus, Otel like instrumentation framework for exposing important metrics from the controller like API requests it is making to IBMCloud, timing etc.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-03 08:11] mkumatag opened #534 "CLI tool for admin purpose"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
CLI tool for the administration purpose like creating an IAM profiles(serviceID with bare minimal policies for controller to work)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-03 08:13] mkumatag opened #535 "Loadbalancer integration"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Rightnow no LB support present in the code for load-balancing the traffic to controller nodes, this work item is to explore the scope of LB flow into controller nodes

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-03 13:53] mkumatag opened #538 "Deleting the IBMPowerVSCluster object is not deleting the underneath IBMPowerVSImage"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
1. Deploy a Cluster, IBMPowerVSCluster and IBMPowerVSImage spec
[code]
2. Delete the Cluster spec
[code]
3. After step 1 and 2, IBMPowerVSImage is not getting deleted

**What did you expect to happen:**
Even `IBMPowerVSImages` should get deleted but it is not,

**Anything else you would like to add:**
[Miscellaneous

[2022-02-03 13:56] mkumatag commented on #538
`IBMPowerVSCluster` did trigger the delete action on the `IBMPowerVSImage` object but it is not really waiting for `IBMPowerVSImage` to be deleted, hence the child resource remain forever because in `IBMPowerVSImage` controller got a logic for checking for the cluster name and loops with that error like below:

[code]

you can see the `deletionTimestamp` is not none which means delete call did tri

[2022-02-03 13:58] mkumatag commented on #538
capi cluster controller got a similar situation and they are handling via checking for the children and wait for them to delete and here is the logic, can be used in the IBMPowerVSCluster controller

https://github.com/kubernetes-sigs/cluster-api/blob/608340af81ba2025a9eb41891af9124919b3340c/internal/controllers/cluster/cluster_controller.go#L218:L260

[2022-02-04 04:11] mkumatag commented on #368
@Amulyam24 expressed interest

[2022-02-04 09:50] Prajyot-Parab opened #539 "Use Imported image in the Machine spec"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Once the image is imported via #474 , machine spec should be able to use the image for the deployment.

[2022-02-05 02:43] mkumatag opened #542 "DeletePolicy for IBMPowerVSImage"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
By default the images associated with the resource from the cloud will get deleted as soon as the resource gets deleted, but in certain environment user may want to retain the images for subsequent runs because every time image import is a costly affair.

Proposing following field to the resource:

[code]

If policy is set

[2022-02-08 00:44] mkumatag commented on #372
PR created to update the readme with the meeting link - https://github.com/kubernetes/community/pull/6431

[2022-02-08 06:20] #531 closed

[2022-02-08 06:29] mkumatag opened #546 "Use Boskos for the resource management for the e2e tests"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently there are few resources left out during the tests for which we need to have a boskos tool for better management, lets explore the tool and integration into the e2e framework

**Anything else you would like to add:**
repo link: https://github.com/kubernetes-sigs/boskos

[2022-02-08 06:36] mkumatag commented on #546
@Amulyam24

[2022-02-08 06:38] mkumatag opened #547 "Add events recorder framework for recording the events to the resources like errors, warning, info"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Add events to the resources for better information and user can use the `kubectl events` command to view them

**Anything else you would like to add:**
Reference from other provider: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/pkg/record/recorder.go

[2022-02-08 06:46] mkumatag opened #548 "Handle a delete image flow when IBMPowerVSImage is deleted when image import job is in-progress"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
There is a possibility that IBMPowerVSImage can get deleted before it imported into the powervs instance(in this case spec will not have an entry of the image id), this will delete the resource blindly even though actual import job is running, this will leave the images in the instance behind.

Need to have an mechan

[2022-02-08 06:46] mkumatag commented on #548
cc @Prajyot-Parab

[2022-02-08 07:28] #538 closed

[2022-02-09 15:02] #410 closed

[2022-02-11 00:54] mkumatag opened #554 "Bumps sigs.k8s.io/cluster-api from 1.1.0 to 1.1.1."
/kind cleanup
/area provider/ibmcloud

**What steps did you take and what happened:**
Update the go depedency
- in the go.mod
- in the hack/tools/go.mod
- in the e2e configs

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes v

[2022-02-11 00:57] mkumatag commented on #554
@Amulyam24

[2022-02-11 04:23] mkumatag commented on #546
we have a logic in the pvsadm for purging the network - https://github.com/ppc64le-cloud/pvsadm/blob/master/cmd/purge/networks/networks.go, this logic can be enhanced to handle machines also underneath.

[2022-02-11 11:54] #554 closed

[2022-02-15 05:55] Prajyot-Parab opened #557 "Add StorageAffinity to Machine Spec"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add StorageAffinity option to Machine Spec, this will give the user more control over where the disk/boot volume resides.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-15 06:15] mkumatag commented on #557
/assign @Prajyot-Parab

[2022-02-15 06:15] mkumatag commented on #557
/milestone 0.2

[2022-02-15 06:16] mkumatag commented on #548
/assign @Prajyot-Parab

[2022-02-15 06:16] mkumatag commented on #542
/assign @Prajyot-Parab

[2022-02-16 00:10] Jont828 opened #560 "Missing .git dir in postsubmit image push job"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
In the [post-cluster-api-provider-ibmcloud-push-images](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-cluster-api-provider-ibmcloud-push-images/1493471428199059456) job, there is an error in the [build logs](https://storage.googleapis.com/kubernetes-jen

[2022-02-16 07:14] #548 closed

[2022-02-16 07:31] mkumatag opened #561 "Expose additional addresses to the machine spec"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
We have this flow to set the addresses only for the IP address, need to enhance this flow to add hostname and internalDNS as well
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/15738808c58fbfefbbd466413529bbf5aae35858/cloud/scope/powervs_machine.go#L363

**Anything else you would like to add:**
[Misc

[2022-02-16 07:31] mkumatag commented on #561
/assign

[2022-02-16 08:02] mkumatag opened #563 "Add all the missing functions in powervs service into mock"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**

Fix following things:
- Not all the functions are mocked in [here](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/main/pkg/cloud/services/powervs/powervs.go#L26:L31), hence need to add all the missing methods into the interface
- No need to expose the powervs service clients directly, this may

[2022-02-16 08:16] #561 closed

[2022-02-16 10:12] #563 closed

[2022-02-17 06:27] #546 closed

[2022-02-18 06:21] mkumatag commented on #560
Mentioned PR https://github.com/kubernetes/test-infra/pull/25251 is already merged, hence closing this issue.

/close

[2022-02-18 06:21] #560 closed

[2022-02-18 07:00] #542 closed

[2022-02-21 06:56] mkumatag opened #569 "Bump sigs.k8s.io/cluster-api from 1.1.1 to 1.1.2"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Bump sigs.k8s.io/cluster-api from 1.1.1 to 1.1.2
- capi deps in the https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/main/go.mod
- deps in https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/main/hack/tools/go.mod
- Bumps [sigs.k8s.io/controller-runtime](https://github.com/kubernetes-

[2022-02-21 06:56] mkumatag commented on #569
@Amulyam24

[2022-02-21 07:34] mkumatag commented on #372
All the required PRs merged, we can close this task.

[2022-02-21 07:34] #372 closed

[2022-02-21 07:36] #569 closed

[2022-02-22 03:34] jichenjc opened #571 "publish v1beta1 compatible image?"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

[code]

looks like the latest ibmcloud is not ready for v1beta1 though we have v1beta1 API ?

looks like we need

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-02-22 05:01] mkumatag commented on #571
@jichenjc this is because we don't have any GA'ed release with v1beta1 yet, you can try with assigning version which are prereleased to work properly,

e.g:
[code]

[2022-02-22 05:59] jichenjc commented on #571
ok, I will keep this open and use this to track the issue

as https://cluster-api-ibmcloud.sigs.k8s.io/getting-started.html
indicated , <TAG> is input (v0.2.0-alpha.5) but no one knows which tag to use because no doc said that
thus they will encounter same issue here

[2022-02-22 06:04] jichenjc opened #572 "improve doc for IBMVPC_xxx variable definitions"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

previously we have detailed doc on where the IBM_XXX variable comes from
now, with new VPC concept, I didn't find it related info .. I think we should doc this

https://cluster-api-ibmcloud.sigs.k8s.io/topics/vpc/creating-a-cluster.html
[code]

**Anything else

[2022-02-22 06:21] mkumatag commented on #571
agree, we can enhance the document to talk about that(pre and post release)

[2022-02-22 08:02] mkumatag opened #573 "Use LocalObjectReference for the ImageRef in the machine spec"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Rightnow ImageRef is of type ObjectReference holds a complete information of an object of any kind and which is not really required because we use only the name from the reference and also we don't anticipate to any different kind as value here.

**Possible solution:**

Can be refactored to use v1.LocalObjectReferenc

[2022-02-22 08:19] #573 closed

[2022-02-23 04:15] jichenjc commented on #572
only record here for resource group
https://cloud.ibm.com/docs/account?topic=account-rgs&interface=ui resource group

@mkumatag
do you have any existing eligible test machines
`IBMVPC_IMAGE_ID=r134-ea84bbec-7986-4ff5-8489-d9ec34611dd4`
 that can be shared so I can do try? Thanks

[2022-02-23 04:24] mkumatag commented on #572
@wentao-zh has some images, he can help you will all the details

[2022-03-01 13:01] Amulyam24 opened #581 "Unit tests"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently, the code coverage is less, improve it by adding unit tests.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-03-02 10:15] #581 closed

[2022-03-02 10:33] mkumatag opened #583 "Handle empty InternalIP address properly"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**

in a DHCP assigned n/w, machine IP address is getting assigned as space chars

[code]

This is happening because the API is returning with a space instead of a empty string, hence space trim function is required in the code as well instead of publishing a space.

instance get call:

[code]

**What did you expect to

[2022-03-02 11:03] #583 closed

[2022-03-02 14:32] mkumatag opened #585 "fix make verify-conversions check"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
we have make target for verifying a conversions [here](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/bcb0b1e52fae76c12988746e22a87ab64bb49d1b/Makefile#L413) but it is a dummy at the moment because we aren't doing anything there because referred variables aren't defined anywhere(CONVERSION_VERI

[2022-03-02 14:32] mkumatag commented on #585
cc @Prajyot-Parab

[2022-03-08 11:44] mkumatag commented on #585
/assign @Prajyot-Parab

[2022-03-08 11:44] mkumatag commented on #557
Now this is handled via - https://github.com/kubernetes-sigs/ibm-powervs-block-csi-driver/issues/130

[2022-03-08 11:44] #557 closed

[2022-03-09 13:08] mkumatag opened #589 "Bump sigs.k8s.io/cluster-api from 1.1.2 to 1.1.3"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Bump sigs.k8s.io/cluster-api from 1.1.2 to 1.1.3

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-03-10 08:17] #589 closed

[2022-03-10 17:54] Rajalakshmi-Girish commented on #464
@mkumatag Are we still not seeing `post-cluster-api-provider-ibmcloud-push-images` for `release-0.1 branch`?

[2022-03-11 00:26] mkumatag commented on #464
This can be closed now...

/close

[2022-03-11 00:26] #464 closed

[2022-03-11 02:24] mkumatag commented on #449
/remove-lifecycle stale

[2022-03-11 03:58] mkumatag opened #591 "Build and publish the latest capibm images for PowerVS"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Build and publish the latest capibm images [here](https://cluster-api-ibmcloud.sigs.k8s.io/machine-images/powervs.html)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-03-12 05:31] mkumatag opened #592 "Add support for overriding the cloud service endpoints to run in a staging environment"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently we are talking to production IBM Cloud but for testing pre-released features we need to explore overriding the service endpoints used for calling IBM Cloud.

Another use case is running controllers in a private n/w and use private endpoints for the managements.

**Anything else you would like to add:**
Explore ot

[2022-03-12 05:33] mkumatag commented on #571
@Amulyam24 please check if there is a scope for improving the doc.

[2022-03-21 10:25] mkumatag opened #596 "IBMPowerVSMachine failed to create with message failed to convert memory() to float64"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**

machine spec:
[code]

error log:
[code]

**What did you expect to happen:**
IBMPowerVSMachine creation shouldn't fail.

**Anything else you would like to add:**
this is with 0.2 version

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `

[2022-03-21 10:25] mkumatag commented on #596
/assign @Prajyot-Parab

[2022-03-21 11:25] Prajyot-Parab commented on #596
@mkumatag did you pass memory spec as part of your resource file? If yes, can you please share the content of that file.

[2022-03-21 11:52] mkumatag commented on #596
no memory is passed, you can see the spec in the description. Seems like web hook is also not running and defaulted to empty string may be because os this we are hitting with this error.

I'm not sure if we can really do anything about this in the code anyways!

[2022-03-21 12:01] mkumatag opened #597 "PowerVSImageScope set debug true only if log level set 5 and above"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
ref: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/509

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use

[2022-03-21 12:01] mkumatag commented on #597
/assign @Prajyot-Parab

[2022-03-21 17:41] #597 closed

[2022-03-22 08:35] #585 closed

[2022-03-25 04:26] Prajyot-Parab opened #607 "Refactor and update Makefile"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
A possible set of actions to make this happen using the current machinery in place is to:

- [x] standardise targets names
- [x] standardise targets documentation (e.g all with or without a final dot, consistent wording etc. etc)
- [x] ensure all the make targets are documented/available
- [x] re shuffle make targets order

[2022-03-25 05:24] mkumatag opened #608 "Explore clusterclass, machinepool, machinehealth apis"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/clusterclass_types.go
https://github.com/kubernetes-sigs/cluster-api/blob/main/exp/api/v1beta1/machinepool_types.go
https://github.com/kubernetes-sigs/cluster-api/blob/main/api/v1beta1/machinehealthcheck_types.go

**Anything else you would like to add:**

[2022-03-25 05:25] mkumatag commented on #596
As discussed, lets explore a way to block user to specific non numbers for memory in the webhook validation.

[2022-03-28 10:05] #571 closed

[2022-03-31 09:45] #368 closed

[2022-04-01 11:52] FischerLGLN opened #615 "VPC: Invalid zone eu-de-{1,2,3} on cluster creation"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Setting my API Key and the following endpoints during management cluster setup:
[code]

Settings before provisioning downstream cluster:
[code]
Used image: ubuntu-2004-ibmcloud-kube-v1-23-4

[code]
kubectl apply -f cluster-start.yaml

Logs:

[code]
**What did you

[2022-04-01 11:54] mkumatag commented on #615
/assign @Prajyot-Parab

[2022-04-01 12:06] FischerLGLN commented on #615
Same error with pre creating

VPC: cluster-api
address-prefix: 192.168.0.0/16
cluster-api-net: Frankfurt 1 192.168.0.0/16

[2022-04-05 10:05] Amulyam24 opened #617 "E2E test cases are faling"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Two failures are encountered
1. Expected machine count doesn't match the created count, machine creation is failing
[code]

2. Unable to connect to the created cluster
[code]

**What did you expect to happen:**
E2E test cases should pass

**Anything else you would like to add:**
[Miscellaneous information that will a

[2022-04-05 10:09] Amulyam24 commented on #617
For the machine failing issue, this error shows up in the logs
[code]

[2022-04-05 16:31] mkumatag commented on #617
wondering if we can enable `-v=5` or higher number for the CI to dump all the API request and response as well to see what's going on?!

[2022-04-07 03:29] emmayang commented on #345
/unassign

[2022-04-07 06:25] mkumatag commented on #345
/close

Will reopen if it happens again in the future.

[2022-04-07 06:25] #345 closed

[2022-04-07 12:42] Amulyam24 commented on #617
@mkumatag, FYI
Tried a sample deployment on lon04, in additional to the errors seen on the UI -

The API response in logs -
[code]

I guess this error is a distraction and occurs due to incompatibility with the response being returned in html format

[2022-04-07 15:03] Prajyot-Parab commented on #615
Error is thrown from function - https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/1e2ed3a5c649550fee6c7ce0971b636b5bc86923/cloud/scope/cluster.go#L169

which in turn refers to - https://raw.githubusercontent.com/IBM/vpc-go-sdk/master/vpcv1/vpc_v1.go

Error is thrown while executing this function/API call

[code]

[2022-04-07 15:05] mkumatag commented on #617
This sort of errors needs to be handled in the sdk I feel @yussufsh

[2022-04-07 15:06] mkumatag commented on #617
@Amulyam24 lets find a way to enable the debug logs for the e2e tests we run periodically, I badly want to see all the API reqs and responses for every failures we are hitting.

[2022-04-07 15:28] mkumatag commented on #615
@Prajyot-Parab I'm more interested in knowing the API calls it is making, e.g: API URL, request body and response body it is throwing.

[2022-04-07 15:38] mkumatag commented on #615
if we can [set this](https://github.com/IBM/go-sdk-core/blob/37e65976c10d9371794646030fb7905ba3a495f4/v5/core/log.go#L167) value to debug somehow, we can get the all the requests and responses

[2022-04-07 16:34] Prajyot-Parab commented on #615
@mkumatag My first observation is that the api endpoint is sending request to us-south instead it should go to eu-gb, am I on right track here?

[2022-04-08 03:43] mkumatag opened #619 "e2e run for vpc cluster type"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Periodic e2e run for the vpc cluster type

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-08 04:37] Basavaraju-G opened #620 "IBMPowerVSCluster runtime error: invalid memory address or nil pointer dereference for OSA region"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
capi-provider pod is restarting with segmentation fault.

[code]

capi-provider logs
[code]

machine spec:
[code]

machines are pending state
[code]
What did you expect to happen:
Capi-provider  pod shouldn't restarts.

**Environment:**

- Cluster-api version:
- Minikube/KIND version:
- Kubernetes version: (use `kube

[2022-04-08 04:54] mkumatag commented on #620
/assign

[2022-04-08 05:19] mkumatag commented on #620
There are 2 issues here:
- `region not found for the zone, talk to the developer to add the support into the tool: osa21` needs a latest powervs-utils library to fix this issue
- SIGSEGV issue: this is happening because it tried patching the status but accessing to null client, so this also needs to be fixed

[2022-04-08 05:28] #620 closed

[2022-04-08 06:59] Amulyam24 opened #623 "Integrate E2E with Boskos and ibmcloud janitor"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently the periodic E2E job is configured to use the existing Boksos janitor. Make changes accordingly to integrate it with ibmcloud janitor.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-08 07:04] Amulyam24 opened #624 "Enhance E2E tests to use image import"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently, in the E2E tests, it is assumed that the boot image would be existing in the given service instance prior to running the job. Leverage using image import and remove the dependency on it

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-08 07:54] #615 closed

[2022-04-08 08:02] mkumatag opened #625 "Enable debug logs for vpc"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Explore an option to enable debug logs for the vpc clients

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-08 08:02] mkumatag commented on #625
/assign @Prajyot-Parab

[2022-04-09 04:07] Basavaraju-G commented on #620
Still this issue is failing segfault

[code]

Pod Describe:
[code]
pod status:
[code]

[2022-04-11 04:08] mkumatag opened #628 "Adopt latest kube-vip for powervs template"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently [v0.3.7](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/blob/32400fcf34bc7869b492d96df28b408b90474121/templates/cluster-template-powervs.yaml#L130) is used and there are many releases post that, lets use the latest available version

**Anything else you would like to add:**
[Miscellaneous inform

[2022-04-11 05:32] #591 closed

[2022-04-12 07:52] Amulyam24 commented on #623
/assign

[2022-04-12 08:14] mkumatag opened #629 "post-ibm-powervs-cloud-provider-push-images job failed"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-ibm-powervs-cloud-provider-push-images/1513791885783601152

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version:
- Minikube/KIND

[2022-04-12 08:15] mkumatag commented on #629
/assign @Karthik-K-N

[2022-04-12 08:18] mkumatag commented on #624
/assign @Amulyam24

[2022-04-12 08:19] mkumatag commented on #493
/assign @Amulyam24

[2022-04-12 09:09] #629 closed

[2022-04-12 11:58] Karthik-K-N commented on #449
@mkumatag can this be closed as we merged https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/614, Not sure why this is not closed automatically

[2022-04-12 12:05] mkumatag commented on #449
Not sure why..

/close

[2022-04-18 10:10] #547 closed

[2022-04-19 06:09] mkumatag opened #636 "Code coverage for UT"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Explore different available options for the code coverage for the unit tests and adopt in the CICD

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-19 06:10] mkumatag opened #637 "Refine the events"
/kind cleanup
/area provider/ibmcloud

**What steps did you take and what happened:**
This issue is to list down some of the recent enhancement/change required for the events for the projects

[2022-04-19 06:10] mkumatag commented on #637
/assign @Prajyot-Parab

[2022-04-19 06:17] mkumatag commented on #637
Event for the `IBMPowerVSImage` resource:

[code]

seen the above repeated event which is part of reconcile loop which keep executing every time, and k8s keeps track of how many times this record is created which is 6 times(`x6`) in this case which looks to be little odd because in most of the cases in k8s world this means that any given resource tried operation so many times(used especially when

[2022-04-19 06:51] #637 closed

[2022-04-21 07:56] #617 closed

[2022-04-22 04:09] mkumatag commented on #532
/assign @Amulyam24

[2022-04-22 04:13] mkumatag commented on #636
/assign @Amulyam24

[2022-04-22 07:22] mkumatag commented on #592
cc @Prajyot-Parab issue for the overriding the service endpoints is already there here

[2022-04-22 07:24] mkumatag opened #643 "Handle the region and zones mapping properly"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently https://github.com/ppc64le-cloud/powervs-utils is used to find the mapping, need to find a way to avoid using this.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-22 07:28] mkumatag opened #644 "Update docs to enable debug logs"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Recently there is a `-v` flag is exposed in the controller deployment but no documentation present for the same, this task is to enhance the documentation.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-22 07:28] mkumatag commented on #644
/assign @Amulyam24

[2022-04-22 07:31] mkumatag opened #645 "Handle the errored powervs machines properly"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Currently Errored ibmpowervsmachines instances remain in the same state forever and this is against the current philosophy of CAPI and k8s, need to find a better approach to get an Active machine deployed.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-04-22 08:14] #628 closed

[2022-04-22 08:37] mkumatag commented on #645
Found [MachineHealthCheck](https://cluster-api.sigs.k8s.io/tasks/healthcheck.html#configure-a-machinehealthcheck) which will be in helpful in such scenario, description says:

[2022-04-22 12:22] #644 closed

[2022-04-27 07:56] #625 closed

[2022-04-29 06:08] Amulyam24 commented on #493
**Tested the upgrade flow from `v1alpha4` to `v1beta1`**
[code]

**Applying upgrade**
[code]
**Objects updated to the latest API version, parts of spec below**
[code]
[code]
[code]

[2022-04-29 08:33] #596 closed

[2022-05-05 05:04] mkumatag commented on #493
@Amulyam24 anything else is pending? if no - can we close this issue?

[2022-05-05 05:08] Amulyam24 commented on #493
Yes, we can close this issue.

[2022-05-05 05:18] mkumatag opened #657 "Wrong version is displayed in the readme file"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Wrong version is displayed here in the readme file, this needs to be modified to display a right version or just remove this entry

<img width="443" alt="image" src="https://user-images.githubusercontent.com/12646029/166867006-c46dcd26-0bed-4e4e-b513-04e2b2d82e8f.png">

**What did you expect to happen:**

**Anything

[2022-05-05 07:36] #657 closed

[2022-05-05 08:01] mkumatag opened #661 "Setup the prerequisites for running the unit tests"
/kind bug
/area provider/ibmcloud

**What steps did you take and what happened:**
Hitting with following error while running the `make test`, which needs to be fixed by installing/configuring required prereqs as part of prereqs in the make file itself

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2022-05-05 08:01] mkumatag commented on #661
/assign @Amulyam24

[2022-05-05 08:04] mkumatag commented on #661
workaround for this issue:
[code]

[2022-05-05 08:22] mkumatag opened #662 "Enhance the unit test coverage"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Here is the present unit test coverage as on 5th May 2022 which is really low, needs improvement

<img width="528" alt="image" src="https://user-images.githubusercontent.com/12646029/166886597-00a0cfc1-a5dd-4420-be45-2cf139bb69b5.png">

**Anything else you would like to add:**
[Miscellaneous information that will assist in

[2022-05-05 08:23] mkumatag commented on #662
/assign @Amulyam24
/cc @Prajyot-Parab

[2022-05-05 08:34] mkumatag opened #663 "Don't use the --from while creating workload clusters in the doc"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
In doc, most of the place we see a reference of `--from` which isn't required for creating workload cluster for the enduser, hence modify the doc accordingly,

e.g:
[code]

ref: https://cluster-api-ibmcloud.sigs.k8s.io/topics/powervs/creating-a-cluster.html

**Anything else you would like to add:**
[Miscellaneous informati

[2022-05-05 08:34] mkumatag commented on #663
cc @Amulyam24 @Prajyot-Parab

[2022-05-05 09:42] mkumatag commented on #645
Reopening this issue to explore adding `MachineHealthCheck` and how cluster behaves

[2022-05-05 14:08] mkumatag opened #666 "Adopt k8s 1.24"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**

- [ ] Golang
- [ ] cluster-api update
- [ ] k8s update in the go.mod
- [ ] k8s version update in the prow job

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-05-06 04:03] mkumatag commented on #645
/assign @Prajyot-Parab

[2022-05-06 04:14] mkumatag commented on #663
/assign @Amulyam24

[2022-05-06 04:17] #493 closed

[2022-05-09 14:01] #661 closed

[2022-05-09 14:05] mkumatag commented on #666
waiting for https://github.com/kubernetes-sigs/cluster-api/issues/5968

[2022-05-11 10:59] #532 closed

[2022-05-12 17:41] #607 closed

[2022-05-17 05:42] Prajyot-Parab commented on #592
/assign @Prajyot-Parab

[2022-05-18 05:11] Prajyot-Parab commented on #662
Findings -

cluster-api is using Gomega based approach for unit testing purposes. capi-ibmcloud should follow the same approach to be in sync with the capi project.

This might lead to major refactoring work in capi-ibmcloud to achieve the same. Also need to explore on helper methods available in capi for reusability purpose or write new ones mainly dealing with test env creation and deletion.

@A

[2022-05-23 13:46] Amulyam24 commented on #662
After a discussion with @Prajyot-Parab, we have decided to follow the unit test framework of cluster-api by avoiding ginkgo.

- This would require modifying the current flow of bootstrapping the test environment by implementing helper methods, something similar to https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/main/test/helpers/envtest.go

- Once the framework is in place, we can

[2022-06-06 06:26] mkumatag opened #690 "Bump sigs.k8s.io/cluster-api from 1.1.3 to 1.1.4"
/kind cleanup
/area provider/ibmcloud

**Describe the solution you'd like**
Bump sigs.k8s.io/cluster-api from 1.1.3 to 1.1.4

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-06-06 06:27] mkumatag commented on #690
This needs to be back ported to release-0.2 as well.

[2022-06-07 06:39] #690 closed

[2022-06-10 11:05] #592 closed

[2022-06-10 14:35] mkumatag commented on #663
/assign @Prajyot-Parab

[2022-06-10 14:35] #663 closed

[2022-06-12 06:37] mkumatag commented on #425
/remove-lifecycle stale

[2022-06-17 05:28] Amulyam24 opened #707 "Add Junit reporting format for the new UT framework"
/kind bug
/area provider/ibmcloud

[2022-06-17 05:28] Amulyam24 commented on #707
/assign

[2022-06-17 06:16] mkumatag opened #708 "Publish capi powervs image for 1.24 release for workload clusters"
/kind feature
/area provider/ibmcloud

**Describe the solution you'd like**
Publish capi powervs image for 1.24 release for workload clusters

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2022-06-17 15:41] mkumatag commented on #708
New image is built and pushed here for 1.24.2 version, can someone test and lemme know how it goes @Amulyam24 @Karthik-K-N @Prajyot-Parab

[code]

[2022-06-20 07:34] Amulyam24 commented on #623
The support for ibmcloud-janitor has been added to Boskos - https://github.com/kubernetes-sigs/boskos/pull/122
The next step would be to deploy and make necessary changes on the build cluster. Currently exploring on finding out the possible ways for updating the user data for the boskos resources, KES and the deployments.

[2022-06-20 11:25] Prajyot-Parab commented on #708
@mkumatag Cluster was successfully create and is in healthy state. However I am unable to ssh into machines (not sure why)

[code]

[code]

[2022-06-20 11:38] mkumatag commented on #708
This could be because of this issue mentioned here - https://github.com/ppc64le-cloud/pvsadm/issues/283. I think I will have to generate a new base image and then rebuild this image.

[2022-06-20 16:34] mkumatag commented on #708
New image is pushed, ptal @Prajyot-Parab

[code]

[2022-06-21 11:00] Prajyot-Parab commented on #662
Files targeted for UT coverage (divided into 2 groups PowerVS and VPC)

Functions to be mocked -
[code]

[code]

Note - WIP: compiling list of scenarios to be covered in each of the targeted file, will update soon.

[2022-06-22 14:55] Prajyot-Parab commented on #662
WIP list of the scenarios to be covered in IBMPowerVSCluster controller tests :

* [ ]  Reconcile IBMPowerVSCluster successfully:
  - Should set IBMPowerVSCluster status as ready if reconcile is successful
  - Should add finalizer to IBMPowerVSCluster

* [ ]  Reconcile IBMPowerVSCluster failures:
  - Should not set IBMPowerVSCluster status as ready if reconcile fails

* [ ]  Test Reconcile IBMPowe